  <div class="pp-pos js-scroll-popup">
    <div class="pp-container">
    <div class="pp-close js-close"></div>
      <div class="slider-gallery js-slider">
        <!-- 1 -->
        <div class="slider-gallery__item">
          <div class="gallery-column__large">
            <div class="gallery-cell__large gallery-cell__tall">
              <a href="#" style="background-image: url('__contentimg/popup-gallery__item1.jpg?ver1.2')"></a></div>
            <div class="gallery-cell__small gallery-cell__low">
              <a href="#" style="background-image: url('__contentimg/popup-gallery__item3.jpg?ver1.2')"></a></div>
            <div class="gallery-cell__small gallery-cell__low">
              <a href="#" style="background-image: url('__contentimg/popup-gallery__item4.jpg?ver1.2')"></a></div>
          </div>
        </div>
        
        <!-- 2 -->
        <div class="slider-gallery__item">
          <div class="gallery-column__small">
            <div class="gallery-cell__large gallery-cell__low">
              <a href="#" style="background-image: url('__contentimg/popup-gallery__item2.jpg?ver1.2')"></a></div>
            <div class="gallery-cell__large gallery-cell__tall">
              <a href="#" style="background-image: url('__contentimg/popup-gallery__item5.jpg?ver1.2')"></a></div>
          </div>
        </div>
        
        <!-- 3 -->
        <div class="slider-gallery__item">
          <div class="gallery-column__small">
            <div class="gallery-cell__large gallery-cell__low">
              <a href="#" style="background-image: url('__contentimg/popup-gallery__item2.jpg?ver1.2')"></a></div>
            <div class="gallery-cell__large gallery-cell__tall">
              <a href="#" style="background-image: url('__contentimg/popup-gallery__item5.jpg?ver1.2')"></a></div>
          </div>
        </div>
        
        <!-- 4 -->
        <div class="slider-gallery__item">
          <div class="gallery-column__large">
            <div class="gallery-cell__large gallery-cell__tall">
              <a href="#" style="background-image: url('__contentimg/popup-gallery__item1.jpg?ver1.2')"></a></div>
            <div class="gallery-cell__small gallery-cell__low">
              <a href="#" style="background-image: url('__contentimg/popup-gallery__item3.jpg?ver1.2')"></a></div>
            <div class="gallery-cell__small gallery-cell__low">
              <a href="#" style="background-image: url('__contentimg/popup-gallery__item4.jpg?ver1.2')"></a></div>
          </div>
        </div>
        
      </div>
    </div>
  </div>