/* reset */
$min-width: 320px; 
$max-width: 1280px; 
$base-bg: #FFF; 
$base-font-size: 13px; 
$base-line-height: 1; 
$base-font-family: 'Roboto', sans-serif;
$custom-font: 'Roboto Slab', serif;
$roman-font: 'time_roman', "Times New Roman", Times, serif;
$link-color: #31479d;
$default-transition:all 0.3s linear;

/* main variables */


