/* loader */
.loaded .main-wrapper{visibility:hidden;}
.icon-load{background:url(../img/loader.gif?ver1.2) no-repeat left top;width:40px;height:40px;position:fixed;left:50%;top:50%;margin-left:-20px;margin-left:-20px;display:none;}
.loaded .icon-load{display:block;}

//main styles
.main-wrapper{
	padding: 0;
	min-width: $min-width;
 width: 100%;
	position: relative;
	overflow: hidden;
	min-height:100%;
	display: block;
	&:after{ @include clearafter(); height: 130px; }
}

.wrapper{
	min-width: $min-width;
	max-width: $max-width;
	width: 100%;
	padding: 0 25px;
	margin: 0 auto;
	position: relative;
	text-align: left;
}
.content{
  position: relative;
		z-index: 20;
		padding: 75px 0 0 0
}
section{
  position: relative;
}


//bg
.content-bg{
  position: absolute;
  width: 2500px;
  left: 50%;
  margin-left: -1250px;
  top: 0;
  bottom: 0;
}
.content-bg__blue{ background: #22273c; }
.content-bg__darkblue{ background: #1c2133; }
.content-bg__grey{ background: #f1f1f1; }

// buttons 
.btn{
  display: table;
  position: relative;
  @include font(12px,16px,700,normal); //0.9px;
  padding: 15px 15px 14px;
  height: 45px;
  span, i{ display: inline-block; vertical-align: top; position: relative; }
}
.btn-grey{
  background: #4c5269;
  padding: 15px 15px 15px 20px;
  &:hover{ background: #5a617d; }
		color: #fff;
}
.btn-blue{
  min-width: 180px;
  text-align: center;
  text-transform: uppercase;
  background: #31479d;
  &:hover{ background: #2c3e86; }
		color: #fff;
}
.btn-darkblue{
  min-width: 180px;
  text-align: center;
  text-transform: uppercase;
  background: #22273c;
  &:hover{ background: #161927; }
		color: #fff;
}


// slick
.slick-arrow, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev{
  border: none;
  background: none;
  text-indent: -200px;
  overflow: hidden;
  position: absolute;
  color: #292d4a;
		@include trans( color .2s );
  &:before{
    @include before();
				@include iconset();
    left: 50%;
    top: 50%;
    margin-left: -11px;
    margin-top: -7px;
    @include font(18px,1,400,normal);
				text-indent: 0px;
  }
		&.slick-prev:before, &.owl-prev:before{ content: "\e905"; }
  &.slick-next:before, &.owl-next:before{ content: "\e906"; }
		&:hover{ color: #af9a33; }
}
.slick-dots, .owl-dots {
  border: none;
		padding: 0;
		overflow: hidden;
		width: 100%;
		position: absolute;
		li, .owl-dot{ display: inline-block; margin: 0 2px; }
		button, .owl-dot span { 
		  font-size: 0;
				padding: 0;
				width: 6px; height: 6px; 
				overflow: hidden;
				@include radius(50%);
				background: #4c5269;
		}
		.slick-active button, .owl-dot.active span { 
	   background: #af9a33;
		}
}
.owl-dots .owl-dot span {
  display: block;
}

// headings
h1{
  font-family: $custom-font;
  @include font(65px,1,700,normal);
  display: table;
  margin: 0 auto;
  text-align: center;
		position: relative;
  span{ display: block; }
}
h2{
  font-family: $custom-font;
  @include font(45px,1,700,normal);
  display: table;
		position: relative;
  span{ display: block; }
}
h3{
  @include font(22px,1,700,normal);
  color: #22273c;
		position: relative;
}
h4{
  @include font(18px,1,700,normal);
		position: relative;
}
h5{
  font-family: $roman-font;
		position: relative;
  @include font(18px,1,400,normal);
}

// icons 
.icon{
  display: block;
  position: absolute;
  overflow: hidden;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconset' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-phone:before {
  content: "\e909";
		}
.icon-pets:before {
  content: "\e90c";
}
.icon-wifi:before {
  content: "\e90e";
}
.icon-person:before {
  content: "\e90b";
}
.icon-tv:before {
  content: "\e90d";
}
.icon-close:before {
  content: "\e90a";
}
.icon-hours:before{
  background: url(../img/time.svg);
}
.rub{ font-family: 'pt_roublesans' !important; font-weight: bold; }

.section-instagram{
  padding: 55px 0 95px;
}
.slider-instagram{
  position: relative;
		margin-top: 31px;
  &:after{ @include clearafter(); }
		.slick-list{ margin: 0 -17px 0 -1px; }
		.slick-arrow, &.owl-carousel .owl-nav .owl-prev, &.owl-carousel .owl-nav .owl-next{
    width: 106px;
    height: 93px;
		}
		.slick-prev, &.owl-carousel .owl-nav .owl-prev{
		  right: 103px;
				top: -95px;
		}
		.slick-next, &.owl-carousel .owl-nav .owl-next{
		  right: -3px;
				top: -95px;
		}
}
.section-instagram__heading { color: #22273c; }
.backgroundcliptext .section-instagram__heading  span{
		background: url(../img/heading-bg_2.jpg?ver1.2) center repeat; 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
		line-height: 54px;
		margin: -7px 0;
}
.section-instagram__heading{ }
.slider-instagram__item{
  position: relative;
  width: 100%;
		margin-right: 17px;
  height: 250px;
  overflow: hidden;
  img{
    @include center_transform();
    min-width: 100%;
    min-height: 100%;
				z-index: 2;
		  @include trans( transform .3s );
  }
		&:hover img{ 
		-ms-transform: scale(1.15) translate(-50%, -50%);
		-webkit-transform: scale(1.15) translate(-50%, -50%);
		-moz-transform: scale(1.15) translate(-50%, -50%);
		transform: scale(1.15) translate(-50%, -50%);
		 }
}
.instagram-item__title{
  position: absolute;
  left: 15px;
  bottom: 15px;
  height: 30px;
  padding: 9px 0 0 35px;
  @include font(12px,14px,500,normal);
  color: #fff;
		z-index: 4;
}
.instagram-item__icon{
  left: 0; bottom: 0;
  width: 30px;
  height: 30px;
  background: url(../img/icon-instagram.png?ver1.2) no-repeat;
  background-size: contain;
}
.instagram-item__link{
  position: absolute;
  width: 100%; height: 100%;
  left: 0; top: 0;
		z-index: 5;
}
.section-form{
  padding: 280px 0 368px 0;
}
.form-questions,
.form-booking{
  background: #fff;
  padding: 33px 30px 30px;
  position: relative;
		z-index: 100;
  &:after{ @include clearafter(); }
}
.form-booking{
  margin: -80px auto 0;
		z-index: 50;
		display: table;
}
.form-heading{
  font-family: $roman-font;
  color: #000;
  padding: 0 0 43px 2px;
}
.questions-field{
  position: relative;
  width: 184px;
  margin-right: 20px;
  float: left;
  &:nth-child(3){
    width: 550px; 
    margin-right: 30px;
  }
}
.booking-field{
  position: relative;
  width: 184px;
  margin-right: 20px;
  float: left;
  &:nth-child(3){ width: 77px;  .booking-field__input{text-align: center;}}
}
.form-questions .btn,
.form-booking .btn{
  float: left;
				margin: 0 -1px;
}
.questions-field__input,
.booking-field__input{
  width: 100%;
  height: 45px;
  border: solid 1px #22273c;
  @include font(14px,1,400,normal);
  color: #22273c;
  padding: 0 20px;
}
textarea.questions-field__input{
  width: 100%;
  min-height: 45px;
  border: solid 1px #22273c;
  @include font(14px,1,400,normal);
  color: #22273c;
  padding: 0 20px;
		overflow: hidden;
		padding-top: 15px;
		margin: 0;
}
.questions-field__label,
.booking-field__label{
  position: absolute;
  top: -7px;
  left: 15px;
  padding: 0 5px;
  background: #fff;
  @include font(12px,14px,400,normal);
  color: #22273c;
}

.form-questions input::-webkit-input-placeholder{ opacity:  1; color: #aeaeae; }
.form-questions input:-moz-placeholder{ opacity:  1; color: #aeaeae; }
.form-questions input::-moz-placeholder{ opacity:  1; color: #aeaeae; }
.form-questions input:focus::-webkit-input-placeholder{ opacity:  0; }
.form-questions input:focus:-moz-placeholder{ opacity:  0; }
.form-questions input:focus::-moz-placeholder{ opacity:  0; }

.form-questions textarea::-webkit-input-placeholder{ opacity:  1; color: #aeaeae; }
.form-questions textarea:-moz-placeholder{ opacity:  1; color: #aeaeae; }
.form-questions textarea::-moz-placeholder{ opacity:  1; color: #aeaeae;  }
.form-questions textarea:focus::-webkit-input-placeholder{ opacity:  0; }
.form-questions textarea:focus:-moz-placeholder{ opacity:  0; }
.form-questions textarea:focus::-moz-placeholder{ opacity:  0; }

.form-booking  input::-webkit-input-placeholder{ opacity:  1; color: #aeaeae; }
.form-booking input:-moz-placeholder{ opacity:  1; color: #aeaeae; }
.form-booking input::-moz-placeholder{ opacity:  1; color: #aeaeae; }
.form-booking  input:focus::-webkit-input-placeholder{ opacity:  0; }
.form-booking input:focus:-moz-placeholder{ opacity:  0; }
.form-booking input:focus::-moz-placeholder{ opacity:  0; }

.section-promo{
  padding-bottom: 258px;
		.content-bg__darkblue{ top: 398px; }
}
.slider-promo{
  position: relative;
  height: 455px;
		z-index: 10;
		.slick-arrow{
    width: 106px;
    height: 93px;
				color: #fff;
				&:hover{ color: #af9a33; }
		}
		.slick-prev{
		  right: 106px;
				bottom:-88px;
		}
		.slick-next{
		  right: 0px;
				bottom:-88px;
		}
		.slick-list{
		height: 455px;
  overflow: hidden;
		}
}
.slider-promo__aktions, .promo-slider-rooms-wrap .slider-promo {
  height: 240px;
		.slick-list{
		  height: 240px;
    overflow: hidden;
		}
}
.slider-promo-main {
  height: 535px;
		.slick-list{
		  height: 535px;
    overflow: hidden;
		}
}
.slider-promo__item{
  width: 100%;
  height: 535px;
  overflow: hidden;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider-promo__text{
  display: table-cell;
  padding: 87px 150px 20px 20px;
  text-align: left;
  vertical-align: middle;
  height: 285px;
  color: #fff;
		h1, h2, h3, h4, h5, p, span, strong{ position: relative; }
		&:before{
		  @include before();
				left: 0; top: 0; right: 0; bottom: 0;
				@include gradient(top,bottom,rgba(0, 0, 0, 0),#000000);
				opacity: 0.57;
		}
		h4{ margin: 12px 0 0 0; }
}
.btn-hotels{
  position: absolute; 
		z-index: 30;
		background: #22273c;
		color: #fff;
		border-left: 5px solid #af9a33;
		margin: -2px 0 0 19px;
		width: 228px;
  padding-right: 12px;
  white-space: nowrap;
		&:hover{ background: #af9a33; }
}
.all-photos{ 
  position: absolute;
		z-index: 11;
  left: 50%;
  margin: -80px 0 0 373px;
  right: 0;
  height: 80px;
  background: #22273c;
  text-align: center;
  color: #fff;
  @include font(12px,14px,700,normal);
  padding: 34px 0 0 0;
  &:after{
    @include before();
    @include iconset();
    content: "\e906";
    @include font(18px,1,400,normal);
    left: 50%; margin-left: 59px;
    top: 32px;
    color: #fff;
  }
		&:hover{
		  background: #4c5269;
		}
}
.slider-promo__pages{ position: absolute; }

// section HOTELS
.section-hotels{
  padding-bottom: 360px;
		&:before{ @include clearafter(); }
}
.section-hotels__item{
  padding: 46px 40px 40px;
  position: relative;
  background: #fff;
  margin-top: -200px;
  text-align: center;
}
.section-hotels__heading{
  max-width: 570px;
  width: 100%;
  margin: 0 auto;
		color: #22273c;
}
.backgroundcliptext  .section-hotels__heading span{
		background: url(../img/heading.jpg?ver1.2) center repeat; 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 5px
}
.section-hotels__text{
  max-width: 490px;
  width: 100%;
  margin: 0 auto;
		padding-top: 0;
  p{
    @include font(14px,1.43,400,normal);
    color: #434549;
    padding-top: 20px;
  }
}
.section-hotels__tripadvisor{
  margin: 28px auto 0;
  display: block;
		width: 122px;
  position: relative;
}
.tripadvisor-grade{
  position: absolute;
  @include vertical_center_transform();
  left: 100%;
  margin-left: 30px;
}
.certificate-slide__item img{
  width: 100%; height: auto;
}
.certificate-slide{ 
  .slick-dots{
		  left: 0;
				bottom: -2px;
		}
}


// SECTION INFO 
.section-info{
  padding-bottom: 35px;
  &:before{ @include clearafter(); }
}
.slider-info{
  margin-top: -263px;
  position: relative;
		.slick-arrow {
				display: none;
  }
}
.info-item__heading{
  height: 60px;
  margin: 11px 0 20px;
  span{ padding: 9px 0 0 72px;}
		color: #22273c;
}
.backgroundcliptext .info-item__heading span{
		background: url(../img/heading-bg_2.jpg?ver1.2) center repeat; 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.info-item__main{
  width: 545px;
		min-height: 320px;
		background: #f6f6f6;
		position: relative;
		float: left;
		margin-right: -75px;
		z-index: 6;
  padding: 44px 20px 40px 80px;
}
.info-item__arrows{
  position: absolute;
  right: 0;
  bottom: 16px;
}
.info-arrows__prev,
.info-arrows__next{
  width: 106px; height: 93px;
  float: left;
		position: relative;
  color: #22273c;
  @include font(18px,1,400,normal);
  @include icon();
  cursor: pointer;
		@include trans( color .2s );
		&:hover{ color: #af9a33; }
  &:before{ 
		  @include before(); 
				left: 50%; 
				margin-left: -9px; 
				top: 50%; 
				margin-top: -10px; 
		}
}
.info-arrows__prev:before{
  content: "\e905";
}
.info-arrows__next:before{
  content: "\e906";
}
.info-main__text{
  @include font(13px,20px,400,normal);
		margin-top: 13px;
    min-height: 164px;
		p{ 
      // float: left;
      text-shadow: 0 0;
    }
}
.room-about{
  padding-top: 2px;
  &:after{ @include clearafter(); }
}
.room-about__label{
  // display: table;
  display: flex;
  align-items: center;
  position: relative;
  margin: 16px 0 0 0;
  padding: 0 0 0 5px;
  @include font(12px,14px,400,normal);
  .icon{
    left: 5px;
    top: -2px;
    font-size: 18px;
  }  
  p{
    padding-left: 10px;
  }
  img{
    width: 18px;
    float: left;
  }
}
.room-about__price{
  float: right;
  @include font(22px,25px,400,normal);
  margin: -17px 10px 0 0;
}
.room-about__people{
  float: right;
  margin: -22px 14px 0 0;
  .icon{
    width: 30px; height: 30px;
    font-size: 18px;
    float: right;
				position: relative;
				color: rgba(77, 82, 105, 0.3);
    &:before{ 
      left: 9px;
      top: 7px;
				  position: absolute;
    }
				&.active{ color: #22273c; }
  }
}
.info-main-btn{
  margin-top: 35px;
}
.info-illustrations__slider{
  float: right;
		width: 740px;
		height: 540px;
		margin-top: -90px;
		position: relative;
		z-index: 5;
		.slick-arrow {
    width: 106px;
    height: 93px;
				display: block;
  }
		.slick-prev {
    left: 56px;
    top: 340px;
				z-index: 25;
				color: #fff;
  }
		.slick-next {
    right: 0px;
    top: 340px;
				z-index: 25;
				color: #fff;
  }
}
.info-illustrations__item{
  position: relative;
  overflow: hidden;
		height: 540px;
  img{
    @include center_transform();
    min-width: 100%;
    min-height: 100%;
    max-width: 150%;
    max-height: 150%;
  }
}
.slider-info__item{ display: table; }


// SERVICES 
.section-services{
  margin: 50px 0 -190px;
  position: relative;
  z-index: 5;
}
.section-services__heading{
  height: 59px;
  margin-bottom: 24px;
		color: #22273c;
		span{
		  padding-top: 7px;
		}
}
.backgroundcliptext .section-services__heading span{
		background: url(../img/heading-bg_2.jpg?ver1.2) center repeat; 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.slider-services{
  margin: 0 10px ;
  .slick-list{ margin: 0px -20px 0 -10px; }
		.slick-arrow {
    width: 106px;
    height: 93px;
   }
			.slick-prev {
    right: 95px;
    top: -95px;
   }
   .slick-next {
    right: -12px;
    top: -95px;
   }
}
.slider-services__item{
  margin: 0 10px 10px 0;
  position: relative;
  overflow: hidden;
}
.services-item__illustration{
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0;
  overflow: hidden;
  img{
    position: relative;
		  width: 100%;
  }
		&:after{
		  @include before();
				left: 0px; top: 0px; right: 0px; bottom: 0px;
		}
}
.services-item__info{
  left: 25px;
  right: 25px;
  bottom: 18px;
  position: absolute;
  color: #fff;
  transition: all .5s ease-in-out;
}
.services-info__heading{
  @include font(18px,21px,700,normal);
  margin-bottom: 13px;
  font-family: $base-font-family;
}

.services-item__shadow{
  background: url('../img/ie-shadow1.png?ver1.2');
	height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.more-text{
  display: none;
}
.slider-services__item{
		&:hover,
		&.services-item__showed{ 
		  .services-item__shadow{ background: url('../img/ie-shadow2.png?ver1.2'); }
		}


}
.morecontent{
  display: none;
}
.backgroundcliptext .slider-services__item{
		&:hover,
		&.services-item__showed{ 
		  .services-item__shadow{ 
				    top: 0px; opacity: 0.97; 
        @include gradient(top,bottom,rgba(0, 0, 0, 0),#000000); 
					}
				.services-item__illustration:after{ @include shadow(0 0 0 1px #979797 inset); }
		}
		.services-item__shadow{
    @include gradient(top,bottom,rgba(0, 0, 0, 0),#000000);
    opacity: 0.57;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 206px;
				height: auto;
  		@include trans( all .2s);
  }
}
.services-info__text{
  @include font(14px,16px,400,normal);
  height: 48px;
  overflow: hidden;
}
.services-info-full{
  height: 45px;
  padding: 13px 45px 13px 13px;
  margin: 12px 0 0 -13px;
  @include font(12px,14px,400,normal);
		color: #fff;
		display: table;
		position: relative;
  text-decoration: none;
  text-transform: uppercase;
  &:after{
    @include icon();
    @include before();
				content: "\e904";
    @include font(12px,1,400,normal);
    color: #fff;
    right: 7px;
    top: 12px;
				color: rgba(255,255,255,.5);
  }
		span{ border-bottom: 1px solid rgba(255,255,255,.8);  @include trans( all .4s );}
		&.active:after{ content: "\e903"; }
	 &:hover{ span{ border-bottom-color: rgba(255,255,255,.0); } }
}




// LOCATION
.section-location{
  padding-bottom: 62px;
}
.slider-location{
  position: relative;
  z-index: 5;
  margin-top: -270px;
}
.slider-location__item{
  display: table;
}
.location-item__illustration{
  float: left;
  width: 740px;
  height: 540px;
  position: relative;
}
.location-item__info{
  float: right;
  width: 550px;
  margin: 122px 0 90px -75px;
		padding: 46px 30px 0 89px;
  background: #f6f6f6;
		position: relative;
}
.section-location__heading{ 
  position: absolute;
		width: 465px;
		right: 0;
		top: 52px;
		color: #fff;
		z-index: 10;
} 
.location-item__text{
  @include font(13px,20px,400,normal);
  color: #434549;
		margin: 18px 0 3px 0;
		height: 40px;
		overflow: hidden;
		p{ padding-top: 5px; &:first-child{ padding-top: 0;}}
}
.location-item__map{
  position: relative;
		margin: 2px -30px 0 -89px;
		height: 150px;
}
.location-item__more{
  height: 45px;
  padding: 13px 29px 13px 13px;
  margin: 6px 0 0 -13px;
  @include font(12px,14px,400,normal);
		color: #22273c;
		display: table;
		position: relative;
  text-decoration: underline;
  text-transform: uppercase;
  &:after{
    @include icon();
    @include before();
				content: "\e903";
    @include font(12px,1,400,normal);
    color: #22273c;
    right: 7px;
    top: 14px;
  }
		&.active:after{ content: "\e904";  }
	 &:hover{ }
}
.location-item__nav{
  position: absolute;
		width: 470px;
		height: 90px;
		right: 0;
		bottom: -90px;
}
.location-item__arrows{
  position: absolute;
  right: 0;
  top: 0;
}
.location-arrows__prev,
.location-arrows__next{
  width: 106px; height: 93px;
  float: left;
		position: relative;
  color: #22273c;
  @include font(18px,1,400,normal);
  @include icon();
  cursor: pointer;
		@include trans( color .2s );
		&:hover{ color: #af9a33; }
  &:before{ 
		  @include before(); 
				left: 50%; 
				margin-left: -9px; 
				top: 50%; 
				margin-top: -12px; 
		}
}
.location-arrows__prev:before{
  content: "\e905";
}
.location-arrows__next:before{
  content: "\e906";
}
.section-location-link{
  height: 45px;
  padding: 13px 33px 13px 13px;
  margin: 23px 0 0 1px;
  @include font(12px,14px,500,normal);
		color: #31479d;
		display: table;
		position: relative;
  text-decoration: underline;
  text-transform: uppercase;
  &:after{
    @include icon();
    @include before();
				content: "\e901";
    @include font(12px,1,400,normal);
    color: #31479d;
    right: 7px;
    top: 14px;
  }
	 &:hover{ color: #2c3e86; font-weight: 700;}
}




// BENEFITS
.section-benefits{
  padding-top: 28px;
		padding-bottom: 83px;
}
.section-benefits__heading{
  height: 88px;
  span{ padding-top: 0px; }
}
.benefits{
  width: 945px;
  padding: 0px 0 0 67px;
  margin: 0 auto;
		font-size: 0px;
  &:after{ @include clearafter(); }
}
.benefits-item{
  position: relative;
		display: inline-block;
		vertical-align: top;
  width: 235px;
  margin-top: 51px;
  margin-right: 78px;
  &:nth-child(2), 
  &:nth-child(5),
		&:nth-child(8),
		&:nth-child(11){ margin-right: 89px; }
  &:nth-child(3n){ margin-right: 0px; }
}
.benefits-item__icon{
  position: absolute;
		/* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'benefits' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  top: 0;
  left: -50px;
  background: #000;
  &:before{
		  position: relative;
    color: #fff;
  }
		&:after{
		  @include before();
		  position: absolute;
				left: -4px; top: -4px; right: -4px; bottom: -4px;
				border: 5px solid #fff;
		}
}
.icon-location{
  left: -63px;
		top: -6px;
		background: url(../img/benefits-bg_1.jpg?ver1.2) center repeat; 
  &:before{
    font-size: 50px;
    content: "\e900";
  }
}
.icon-rooms{
  left: -51px;
  top: -3px;
		background: url(../img/benefits-bg_2.jpg?ver1.2) center repeat; 
  &:before{
    font-size: 40px;
    content: "\e901";
  }
		&:after{ left: -5px; }
}
.icon-food{
  left: -53px;
  top: -4px;
		background: url(../img/benefits-bg_3.jpg?ver1.2) center repeat; 
  &:before{
    font-size: 46px;
    content: "\e902";
  }
}
.icon-meetings{
  left: -49px;
  top: -1px;
		background: url(../img/benefits-bg_4.jpg?ver1.2) center repeat; 
  &:before{
    font-size: 31px;
    content: "\e903";
  }
		&:after{ left: -5px; }
}
.icon-activities{
  left: -52px;
  top: 0px;
		background: url(../img/benefits-bg_5.jpg?ver1.2) center repeat; 
  &:before{
    font-size: 41px;
    content: "\e904";
  }
		&:after{ top: -4px; }
}
.icon-health{
  left: -53px;
  top: 0px;
		background: url(../img/benefits-bg_6.jpg?ver1.2) center repeat; 
  &:before{
    font-size: 43px;
    content: "\e905";
  }
		&:after{ top: -4px; }
}
.icon-activities2{
  left: -52px;
  top: 0px;
		background: url(../img/benefits-bg_3.jpg?ver1.2) center repeat; 
  &:before{
    font-size: 41px;
    content: "\e906";
  }
		&:after{ top: -4px; }
}
.icon-beach{
  left: -52px;
  top: 0px;
		background: url(../img/benefits-bg_1.jpg?ver1.2) center repeat; 
  &:before{
    font-size: 41px;
    content: "\e907";
  }
		&:after{ top: -4px; }
}
.icon-bench{
  left: -52px;
  top: 0px;
		background: url(../img/benefits-bg_2.jpg?ver1.2) center repeat; 
  &:before{
    font-size: 41px;
    content: "\e908";
  }
		&:after{ top: -4px; }
}
.icon-children{
  left: -52px;
  top: 0px;
		background: url(../img/benefits-bg_1.jpg?ver1.2) center repeat; 
  &:before{
    font-size: 41px;
    content: "\e909";
  }
		&:after{ top: -4px; }
}
.icon-fitness{
  left: -52px;
  top: 0px;
		background: url(../img/benefits-bg_4.jpg?ver1.2) center repeat; 
  &:before{
    font-size: 41px;
    content: "\e90a";
  }
		&:after{ top: -4px; }
}
.icon-mountains{
  left: -52px;
  top: 0px;
		background: url(../img/benefits-bg_5.jpg?ver1.2) center repeat; 
  &:before{
    font-size: 41px;
    content: "\e90b";
  }
		&:after{ top: -4px; }
}
.icon-olimpicvillage{
  left: -52px;
  top: 0px;
		background: url(../img/benefits-bg_2.jpg?ver1.2) center repeat; 
  &:before{
    font-size: 41px;
    content: "\e90c";
  }
		&:after{ top: -4px; }
}
.benefits-item__heading{
  @include font(14px,16px,500,normal);
		font-family: $base-font-family;
  min-height: 25px;
  padding-bottom: 3px;
  color: #37373c;
}
.benefits-item__text{
  @include font(11px,13px,400,normal);
  color: #787878;
}





// scroll to top 
.scroll-to-top{
  position: absolute;
  left: 50%;
  margin-left: 525px;
  bottom: 85px;
  width: 92px;
  height: 92px;
  background: #d1c8ba;
  color: #22273c;
  z-index: 105;
		cursor: pointer;
		display: block;
		@include trans(background .2s );
  &:after{
    @include icon();
    @include before();
    content: "\e907";
    font-size: 17px;
    left: 50%;
    top: 50%;
    margin-left: -9px;
    margin-top: -8px;
  }
		&:hover{ background: #bab09f; }
}

.section-infoblock{
  padding-bottom: 360px;
  margin-top: -200px;
		&:before{ @include clearafter(); }
}
.section-infoblock__item{
  padding: 46px 40px 40px;
  position: relative;
  background: #fff;
  text-align: center;
}
.section-infoblock__heading{
    max-width: 570px;
    width: 100%;
    margin: 0 auto;
		color: #22273c;
    span {
      padding-bottom: 6px;
    }
}
.backgroundcliptext  .section-infoblock__heading span{
		background: url(../img/heading.jpg?ver1.2) center repeat; 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section-infoblock__text{
  max-width: 490px;
  width: 100%;
  margin: 0 auto;
		padding-top: 5px;
  p{
    @include font(14px,1.43,400,normal);
    color: #434549;
    padding-top: 20px;
				text-shadow: 0 0;
  }
}

// popup 
.pp-pos {
  .slider-gallery,
  .slick-slider .slick-track,
  .slick-slider .slick-list {   
    height: 100% !important;
  }
}
.pp-bg{
  position: fixed;
		z-index: 120;
		left: 0; top: 0; right: 0; bottom: 0;
		background: rgba(29, 33, 51, 0.9);
		display: none;
		cursor: url(../img/close.svg?ver1.2), auto;
}
.pp-pos{
		width: 100%;
		max-width: 1230px;
		// max-height: 100%;
		z-index: 125;
		@include center_transform();
  position: fixed;
		bacground: #fff;
		overflow: auto;
		display: none;


    height: 100%; 
    max-height: none;
}
// .pp-pos .mCSB_scrollTools_vertical{ display: none !important;}
.pp-container{
  height: 100%;
  padding: 105px 0;
	cursor: default;
}
.slider-gallery{
  position: relative;
		.slick-prev {
    right: 106px;
    bottom: -95px;
  }
		.slick-next {
    right: 0px;
    bottom: -95px;
  }
  .slick-arrow {
    width: 106px;
    height: 93px;
				color: #fff;
				&:hover{ color: #af9a33; }
  }
}
.slider-gallery__item{
  margin: 0px;
}
.gallery-column__large{
  width: 772px;
}
.gallery-column__small{
  width: 468px;
}
.gallery-cell__large{
  width: 100%;
  padding: 5px;
  float: left;
}
.gallery-cell__small{
  width: 50%;
  padding: 5px;
  float: left;
}
[class*="gallery-cell"] a { 
  display: block; 
  height: 100%; 
  width: 100%; 
  background-position: 50% 50%; 
  background-repeat: no-repeat; 
  background-size: cover;
}
.pp-close{
  display: block;
  width: 106px;
  height: 93px;
  position: absolute;
  top: 12px;
  right: 0;
		cursor: pointer;
  color: #fff;
		@include trans(color .2s);
  &:after{
    @include icon();
				@include before();
    @include font(15px,1,400,normal);
    content: "\e90a";
    left: 50%;
    margin-left: -6px;
    top: 50%;
    margin-top: -5px;
  }
		&:hover{ color: #af9a33; }
}

.ui-widget{
  font-family: $base-font-family;
}
.ui-datepicker table{
  font-size: 13px;
}
.ui-datepicker-title{ 
  font-weight: 500;
		font-size: 15px; 
}
.ui-datepicker th {
  padding: 3px;
  text-align: center;
  font-weight: 500;
  border: 0;
}
.ui-widget-header{ background: #fff; border: none; }
.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default, 
.ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  border: none;
  background: #fff;
  font-weight: normal;
  color: #22273c;
  text-align: center;
  padding: 8px;
}
.ui-state-default:hover,
.ui-state-default.ui-state-hover{
  color: #af9a33;
}
.ui-state-default.ui-state-active {
background: #af9a33;
color: #fff;
}
.ui-widget.ui-widget-content{
  border: none;
		@include shadow(0 2px 2px 0 rgba(0,0,0,0.2));
		padding: 3px 5px;
}
.ui-widget-header .ui-icon{
}
.ui-datepicker .ui-datepicker-prev.ui-state-hover, 
.ui-datepicker .ui-datepicker-next.ui-state-hover,
.ui-datepicker .ui-datepicker-next.ui-state-focus,
.ui-datepicker .ui-datepicker-prev.ui-state-focus{
background: none;  border: none; cursor: pointer;
color: #af9a33;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next{
  top: 2px !important;
  color: #22273c;
		background: none;  border: none; cursor: pointer;
  span:before{
    @include icon();
		  @include before();
				font-size: 18px;
				left: 50%; top: 50%;
				margin-left: -7px; margin-top: -7px;
				text-indent: 0;
		}
}
.ui-datepicker .ui-datepicker-prev span:before{ content: "\f104"; }
.ui-datepicker .ui-datepicker-next span:before{ content: "\f105"; }

.jq-selectbox .mCustomScrollBox{ max-height: 200px !important; }
.jq-selectbox .mCSB_scrollTools{
  width: 30px;
}
.jq-selectbox  .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
  background: #22273c !important;
}
.jq-selectbox .mCSB_scrollTools .mCSB_draggerRail{
    background: none;
}
.bodyoverflow{
  overflow: hidden;
}
.text__hide{
  display: none;
}

/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content{	
	min-width: $min-width;
 width: 100%;
	background: #fff;
}

/*
================================================================================
|                                   PAGE ROOMS                                 |
================================================================================
*/
.page-rooms{
  .section-promo{
    padding-bottom: 304px;
  }
  .section-info{
    margin-top: -152px;
    margin-bottom: -230px;
  }
  .slider-promo__item{
    height: 240px;
  }
  .slider-info__item{
    margin-bottom: 141px;
    &:last-child{
      margin-bottom: 0px;
    }
  }
  .section-form{
    padding-top: 294px;
  }
}
.slider-info__img-left{
  .info-illustrations__slider{
    float: left;
    margin-right: -58px;
    .slick-prev{
      left: 0;
    }
    .slick-next{
      right: 56px;
    }
  }
}
.number-review-slide{
  margin: 30px 0 0 23px;
  color: #4d5269;
  font-family: Times,sans-serif;
  font-size: 18px;
}
.section-room{
  text-align: left;
  padding: 47px 0 0;
  &__inf{
    padding: 27px 80px 52px 80px;
    .room-about{
      padding-top: 0;
      margin-top: 72px;
      p{
        padding: 0;
        font-size: 12px;
        padding-left: 10px;
      }
    }
    .room-about__label{
      margin: 0 0 10px 0;
    }
    p{
      max-width: 740px;
    }
  }
  &__col{
    display: inline-block;
    vertical-align: top;
    margin-right: -4px;
    &-1{
      width: 76.08%;
      padding-right: 8px;
    }
    &-2{
      width: 23.92%;
    }
  }
  p{
    font-family: 'Roboto',sans-serif;
    font-size: 13px;
    line-height: 20px;
    padding: 11px 0 9px;
    letter-spacing: 0.05px;
    strong{
      font-weight: 500;
      color: #1a1d2e;
    }
  }
}
.room-about__col{
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
  width: 33.3%;
}
.room-price{
  margin-bottom: 42px;
  &__title{
    color: #434549;
    font-family: 'Roboto',sans-serif;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  &-list{
    &__item{
      margin-bottom: 8px;
						display: table;
      width: 245px;
    }
    .room-about__people{
				  float: тщту;
      margin: 0;
						display: table-cell;
						vertical-align: middle;
    }
    .room-about__price{
				  margin: 0;
      float: none;
      padding: 4px 10px 0;
      letter-spacing: -0.2px;
						display: table-cell;
						vertical-align: middle;
    }
				.list-check{
						display: table-cell;
						vertical-align: middle;
				}
  }
}
.list-check{
  input{
    opacity: 0;
    z-index: -1;
    position: absolute;
    left: -500px;
  }
  .label-icon{
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border: solid 1px #22273c;
    display: block;
    cursor: pointer;
  }
  input:checked~.label-icon{
    background-color: #d1c8ba;
				&:after{
				  @include before();
						@include icon();
						color: #22273c;
						@include font(12px,1,400,normal);
						content: "\e915";
						margin-left: 8px; margin-top: 8px;
				}

  }
}
.room-child{
  &__item{
    margin-bottom: 10px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__title{
    font-size: 12px;
    font-weight: 500;
    color: #434549;
    float: left;
    margin-top: 20px;
  }
  &-list{
    float: right;
  }
  .jq-selectbox__select{
    width: 96px;
    padding: 13px 28px 0 17px;
  }
}
.jq-selectbox li{
  padding: 8px 10px 8px 17px;
}
.jq-selectbox__trigger{
  width: 28px;
}
.jq-selectbox__select{
  height: 45px;
  background-color: #ffffff;
  border: solid 1px #22273c;
}
.jq-selectbox__trigger-arrow{
  display: block;
  overflow: hidden;
  position: absolute;
  display: block;
  position: absolute;
  overflow: hidden;
  font-family: 'iconset' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  left: -3px;
  top: 16px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: normal;
  text-indent: 0px;
  transform: rotate(90deg);
  color: #22273c;
  width: 20px;
  height: 17px;
  font-size: 13px;
  line-height: 1;
		font-weight: 400;
		opacity: 0.8;
  &:before{
    content: "\e901";
    color: #22273c;
  }
}
.jq-selectbox__dropdown{
  top: 45px;
}
.section-room-total{
   background-color: #22273c;
   padding: 30px 45px 30px 80px;
   &__date{
    float: left;
    font-size: 13px;
    line-height: 20px;
    color: #ffffff;
    margin-top: 13px;
    letter-spacing: 0.1px;
   }

   &__btn{
    float: right;
   }
   &__price{
     color: #ffffff;
     font-size: 22px;
     display: inline-block;
     vertical-align: top;
     margin-right: 25px;
     margin-top: 15px;
     letter-spacing: -0.25px;
   }
   .btn{
    display: inline-block;
  }
}
.page-room{
  .content{
    background-color: #f1f1f1;
  }  
  .section-hotels{
    padding-bottom: 311px;
  }
  .section-form{
    padding-top: 65px;
    padding-bottom: 61px;
  }
  .section-hotels__heading{
        background-position: 80% 75%;
  }
  .slider-info__item{
    .section-hotels__heading{
      background-position: 00% 75%;
      width: auto;
      margin: 0 0 22px 0;
      padding: 14px 0 0 72px;
      line-height: 55px;
    }
  }
  .content-bg__blue{
    background-color: #1c2133;
  }
}


/*
================================================================================
|                                   PAGE SERVICES                              |
================================================================================
*/
.page-services{
		.section-services{
		  margin: -238px 0 0px;
				padding-bottom: 40px;
		}
		.section-form{
		  padding: 70px 0 70px;
		}
		.section-promo{
    padding-bottom: 330px;
    .content-bg__darkblue{ top: 0; }
  }
		.section-instagram {
    padding: 45px 0 95px;
  }
}
.services-list{
  position: relative;
		margin: 0 -4px 0 -5px;
		&:after{ @include clearafter(); }
		.slider-services__item{
		  width: calc(33.3333% - 9px);
				margin: 0 4px 9px 5px;
				float: left;
		}
}
.pagination{
  position: relative;
		padding: 40px 0 0 0;
		text-align: right;
		&:after{ @include clearafter(); }
}
.pagination-list{
  float: right;
		&:after{ @include clearafter(); }
}
.pagination-list__item{
  float: left;
		width: 40px;
		height: 40px;
		margin-left: 8px;
		a{
		  text-align: center;
		  display: block;
				height: 40px;
				line-height: 40px;
	  	background: #f6f6f6;
				color: #434549;
				&:hover{
				  background: #f1f1f1;
				  color: #31479d;
				}
		}
		&.active a{
		  color: #fff;
				background: #31479d;
		}
		
}

/*
================================================================================
|                                   PAGE RESTAURANT                            |
================================================================================
*/
.page-restaurant{
  .content{
		  background: #f1f1f1;
		}
		.section-form{
		  padding: 63px 0 60px;
		}
		.section-promo{
    padding-bottom: 330px;
    .content-bg__darkblue{ top: 0; }
  }
}
.section-info__restaurant{
  margin-top: -320px;
		.slider-info__item{ 
		  margin-top: 50px; 
				margin-right: -55px;
				padding-top: 90px;
				&:nth-child(even){
				  .info-item__main{
						  float: right;
								margin: 0 0 0 -75px;
						}
						.info-illustrations__slider .slick-prev{
				     left: 0px;
		     }
		    .info-illustrations__slider .slick-next{
				     right: 56px;
		     }
				}
		}
				.info-illustrations__slider{
				  float: left;
				}
				.info-main__text{
				  margin: 10px 0 0 0;
				}
				.info-item__main{
				 	padding: 45px 30px 40px 80px;
						margin-right: -75px;
				}
		  .info-main-btn{ margin-top: 23px; }
}
.restaurant-about{
  @include font(12px, 14px,500,normal);
		color: #434549;
		margin-top: 33px;
		div{
		  padding: 8px 34px;
			position: relative;      
		}
		i{
		  position: absolute;
				left: 0;
				top: 0;
				width: 30px;
				height: 30px;
		}
}
.place-about__contacts{
		a{ color: #434549; }
		i:before{
					font-size: 14px;
					left: 8px;
					top: 7px;
					position: absolute;
    }
}
.place-about__hours{
  img{
    width: 15px;
    height: 15px;
    float: left;
  }
  i:before{
		  @include font(14px,1,400,normal);
				@include icon();
				color: #22273c;
		  @include before();
				width: 15px; height: 15px;
				left: 8px; top: 7px;
				content: "\e916";
		}
}

/*
================================================================================
|                                   PAGE AKTIONS                               |
================================================================================
*/
.page-aktions{
  .content{
		  background: #f1f1f1;
		}
		.section-form{
		  padding: 293px 0 370px;
		}
		.section-promo{
    padding-bottom: 300px;
    .content-bg__darkblue{ top: 0; }
  }
		.slider-promo__item{
    height: 240px;
  }
}
.section-info__aktions{
  margin: -293px 0 -227px;
  .slider-info__item{
		  margin-top: 50px;
				padding-top: 90px;
				margin-right: -55px;
				&:nth-child(even){
				  .info-item__main{
						  float: right;
								margin: 0 0 0 -75px;
						}
						.info-illustrations__slider .slick-prev{
				     left: 0px;
		     }
		    .info-illustrations__slider .slick-next{
				     right: 56px;
		     }
				}
		}
		.info-illustrations__slider{
		  float: left;
		}
		.info-main__text{
			margin: 10px 0 0 0;
			height: 180px; overflow: hidden;
		}
		.info-item__main{
				 	padding: 50px 30px 40px 80px;
						margin-right: -75px;
				}
		.info-main-btn{ margin-top: 13px; }
		
}



/*
================================================================================
|                                   PAGE MEETINGS                             |
================================================================================
*/
.page-meetings{
  .content{
		  background: #f1f1f1;
		}
		.section-form{
		  padding: 65px 0 60px;
		}
		.section-promo{
    padding-bottom: 320px;
    .content-bg__darkblue{ top: 0; }
  }
}
.form-meetings{
  background: #fff;
  padding: 33px 30px 30px;
  position: relative;
  margin: -125px auto 0;
		z-index: 50;
		display: table;
		width: 746px;
  &:after{ @include clearafter(); }
		.form-heading{ padding-bottom: 41px; }
}
.meetings-form {
  margin-right: -1px;
}
.meetings-field{
  position: relative;
  width: 194px;
  margin-right: 10px;
  float: left;
  &:nth-child(3){ width: 278px; margin-right: 0; }
  &:nth-child(4){ margin-top: 10px; }
  &:nth-child(5){ margin-top: 10px; }
  &:nth-child(6){ width: 87px; margin-top: 10px; }
}
.form-meetings .btn{
  float: left;
				margin: 10px 0 0 0;
}
.meetings-field__input{
  width: 100%;
  height: 45px;
  border: solid 1px #22273c;
  @include font(14px,1,400,normal);
  color: #22273c;
  padding: 0 20px;
}
.meetings-field__label{
  position: absolute;
  top: -7px;
  left: 15px;
  padding: 0 5px;
  background: #fff;
  @include font(12px,14px,400,normal);
  color: #22273c;
}
.form-meetings input::-webkit-input-placeholder{ opacity:  1; color: #aeaeae; }
.form-meetings input:-moz-placeholder{ opacity:  1; color: #aeaeae; }
.form-meetings input::-moz-placeholder{ opacity:  1; color: #aeaeae; }
.form-meetings input:focus::-webkit-input-placeholder{ opacity:  0; }
.form-meetings input:focus:-moz-placeholder{ opacity:  0; }
.form-meetings input:focus::-moz-placeholder{ opacity:  0; }

.infoblock-meetings{
  margin-top: -270px;
		padding-bottom: 0;
		.section-infoblock__item{
		  padding: 46px 40px 45px;
		}
		.section-infoblock__heading{
		  max-width: 770px;
		}
		.section-infoblock__text{
		  padding-top: 14px;
		}
}
.section-info__meetings{
  margin-top: 0px;
		.slider-info__item{ 
		  margin-top: 66px; 
				margin-right: -55px;
				padding-top: 90px;
        position: relative;
        &:before {
          content: '';
          position: absolute;
          width: 35%;
          height: 2px;
          background-color: #22273c;
          top: -33px;
          left: 50%;
          transform: translateX(-50%);
        }
        &:first-child:before {
          display: none
        }
				&:nth-child(even){
				  .info-item__main{
						  float: right;
								margin: 0 0 0 -75px;
						}
						.info-illustrations__slider .slick-prev{
				     left: 0px;
		     }
		    .info-illustrations__slider .slick-next{
				     right: 56px;
		     }
				}
		}
				.info-illustrations__slider{
				  float: left;
				}
				.info-main__text{
				  margin: 10px 0 0 0;
				  p{
				    height: 80px;
						  overflow: hidden;
				  }
				}
				.info-item__main{
					padding: 50px 30px 40px 80px;
						margin-right: -75px;
				}
		  .info-main-btn{ 
				  margin: 23px 7px 0 0; 
						display: inline-block; 
				}
				.place-about{ margin-top: 31px; }
}
.place-about{
  @include font(12px, 14px,500,normal);
		color: #434549;
		margin-top: 33px;
		div{
	     padding: 8px 10px;
				position: relative;
        display: flex;
        align-items: center;
		}
    img{
      margin-right: 10px;
      width: 15px;
      height: 15px;
      float: left;
    }
		i{
		  position: absolute;
				left: 0;
				top: 0;
				width: 30px;
				height: 30px;
		}
}


/*
================================================================================
|                                   BASE PAGE                                  |
================================================================================
*/
.page-basepage{
  .content{
		  background: #f1f1f1;
		}
		.section-form{
		  padding: 50px 0 60px;
		}
		.section-promo{
    padding-bottom: 330px;
    .content-bg__darkblue{ top: 0; }
  }
}
.infoblock-basepage{ 
  margin-top: -273px;
		padding-bottom: 0;
		.section-infoblock__text{
		  max-width: 740px;
				padding-top: 40px;
		}
		.section-infoblock__item{
		  padding-bottom: 80px;
		}
}

/*
================================================================================
|                            PAGE RESTAURANT DETAILS                           |
================================================================================
*/

.page-restaurant_details{
  .content{
		  background: #f1f1f1;
		}
		.section-form{
		  padding: 65px 0 60px;
		}
		.section-promo{
    padding-bottom: 330px;
    .content-bg__darkblue{ top: 0; }
  }
}
.section-info__restaurant{
		.slider-info{
		  .slider-info__item{ 
		    margin-top: 0px; 
			   margin-right: -75px;
				  padding-top: 90px;
						&:nth-child(even){
				  .info-item__main{
						  float: left;
								margin: 0 ;
						}
						.info-illustrations__slider{
				    margin-left: -55px;
				  }
						.info-illustrations__slider .slick-prev{
				     left: 56px;
		     }
		    .info-illustrations__slider .slick-next{
				     right: 0px;
		     }
				  }
				}
		}
				.info-item__main{
						margin-right: -75px;
				}
}
.section-info__restaurant .slider-info__reversed,
.slider-info__reversed{
		  .slider-info__item{ 
		    margin-top: 0px; 
			   margin-right: 0;
				  padding-top: 90px;
								&:nth-child(even){
										.info-item__main{
												float: right;
												margin: 0 0 0 -75px;
										}
										.info-illustrations__slider .slick-prev{
													left: 0px;
											}
										.info-illustrations__slider .slick-next{
													right: 56px;
		         }
										.info-illustrations__slider{
												margin-left: 0;
												margin-right: -55px;
												float: left;
										}
				    }
		    .info-illustrations__slider{
				    margin-left: 0;
								margin-right: -75px;
								float: left;
				  }
				  .info-item__main{
				    float: right;
						  margin-right: 0;
				  }
						.info-illustrations__slider .slick-prev{
				     left: 0px;
		     }
		    .info-illustrations__slider .slick-next{
				     right: 56px;
		     }
					}
}


.infoblock-restaurant{
  margin-top: -273px;
		padding-bottom: 50px;
		.section-infoblock__item{
		  padding: 46px 40px 32px;
		}
		.section-infoblock__text{
		  padding-top: 20px;
		}
		.btn{
				display: inline-block;
    margin: 30px 8px 0;
    min-width: 175px;
		}
}

.infoblock-menu{
  margin-top: 0px;
		padding-bottom: 103px;
		.slider-menu__pages{
    position: absolute;
  		left: 20px;
		  bottom: 35px;
  }
 .number-review-slide{
    margin: 0px;
				display: table;
    color: #4c5269;
    font-family: Times,sans-serif;
    font-size: 18px;
  }
}
.slide-menu{
  width: 100%;
		max-width: 750px;
		margin: 20px auto 90px;
		position: static;
		.slick-arrow{
    width: 106px;
    height: 93px;
		}
		.slick-prev{
		  right: 106px;
				bottom: 0;
		}
		.slick-next{
		  right: 0px;
				bottom: 0;
		}
}
.slide-menu__item{
  padding: 35px 150px 0 0;
		position: relative;
		text-align: left;
}
.slide-menu__title{ }
.slide-menu__description{
  @include font(13px,20px,400,normal);
		color: #4c5269;
		padding-top: 16px;
  max-width: 400px;
}
.slide-menu__price{
  position: absolute;
		right: 0;
		top: 30px;
  @include font(22px,25px,700,normal);
		color: #af9a33;
}


.infoblock-menu + .section-info{
  margin-top: 0;
		.slider-info{ margin-top: 0; } 
}


/*
================================================================================
|                            BASE PAGE GALLERY                                 |
================================================================================
*/

.section-gallery{
  padding: 47px 0 51px;
}
// SLIDER GALLERY
.slider-gallery__base{
		width: 100%;
		overflow: hidden;
		.slick-arrow{
    width: 106px;
    height: 93px;
				z-index: 50;
		}
		.slick-prev{
		  right: 106px;
				bottom: 5px;
		}
		.slick-next{
		  right: 0px;
				bottom: 5px;
		}
}
.base-gallery__item{
  position: relative;
  height: 545px;
		img{
    @include center_transform();
    min-width: 100%;
    min-height: 100%;
    max-width: 200%;
    max-height: 200%;
  }
		.gallery-item__position{
		  position: absolute;
				overflow: hidden;
				height: 365px;
				left: 70px; right: 0;
				top: 90px; 
		  @include trans( all .7s );
		}
		&.slick-active{ 
		}
		&.slick-current{
			.gallery-item__position{
					height: 545px;
					left: 0px; right: -125px;
					top: 0px; 
		  }
		}
} 

/*
================================================================================
|                               PAGE LOCATIONS                                 |
================================================================================
*/
.page-locations{
  .content{
		  background: #f1f1f1;
		}
		.section-form{
		  padding: 48px 0 60px;
		}
		.section-promo{
    padding-bottom: 330px;
    .content-bg__darkblue{ top: 0; }
  }
		.section-location{
		  margin-top: -270px;
				padding-bottom: 0px;
		}
		.btn-hotels{ z-index: 35; }
}
.section-location__inner{
  .section-location__heading{
		  top: 50px;
				width: 455px;
		}
		.location-item__showed .location-item__nav{
    right: auto;
    left: -175px;
    top: 428px;
    width: auto;
		}
		.location-item__showed.slider-location__item:nth-child(even) .location-item__nav{
    left: 100%;
				margin-left: 17px;
			}
		.location-item__showed .section-location-link { margin-top: 0; white-space: nowrap; }
		.location-item__showed .location-item__info{ margin-bottom: 0; }
			
		.slider-location__item{ 
		  margin-bottom: 50px; 
				&:nth-child(even){
						.location-item__illustration{
								float: right;
						}
						.location-item__info{
								float: left;
								margin-left: 0px;
						  margin-right: -75px;
								padding: 46px 40px 0 40px;
				  }
						.location-item__map {
        position: relative;
        margin: 2px -40px 0 -40px;
        height: 150px;
      }
						.location-item__nav {
								position: absolute;
								width: auto;
								left: 40px;
						}
				}
		}
				.location-item__illustration{
				  float: left;
				}
				.location-item__info{
						margin-right: 0px;
						margin-left: -75px;
				}
}
.main-map{
  position: relative;
		width: 100%;
		height: 535px;
		z-index: 30;
}
.map-contacts{
  position: absolute; 
		z-index: 40;
		width: 228px;
		background: #fff;
		top: 82px;
		left: 20px;
		border-top: 5px solid #22273c;
		padding: 26px 18px 6px 18px;
}
.map-contacts__info{
  position: relative;
		margin-bottom: 16px;
		padding: 0 0 0 40px;
		@include font(11px,1.64,400,normal);
		color: #434549;
		a{ color: #434549; }
		.icon{
		  position: absolute;
				left: 0;
				top: 50%;
				margin-top: -8.5px;
				color: #4c5269;
				@include font(19px,1,400,normal);
		}
}
.contact-info__phone{
  font-family: $roman-font;
		@include font(20px,27px,400,normal);
		a{ color: #22273c; }
}
.main-map__position{
  position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: 25;
}
#locationmap{
  position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
}
.info-box-wrap{
	display:none;
}
.infobox{
		&:before{ 
		  @include before();
				width: 0; height: 0;
				border: 10px solid transparent;
				border-top-color: #fff;
				left:50%; margin-left: -10px;
				bottom: -20px;
		}
		background:#fff;
		overflow: hidden;
		@include shadow( none );
		width:306px !important;
		height: 125px;
		padding: 0px !important;
		border-top: 5px solid #22273c;
		display:block;
}
.infobox-text{
  display: block;
		width: 306px;
		height: 90px;
		padding: 0 11px 0 140px;
		text-align: left;
		@include font(14px,1.29,400,normal);
		color: #434549;
		overflow: hidden;
		@include vertical_center_transform();
}
.infobox-img{
  position: absolute;
		left: 0; top: 5px; bottom: 0;
		width: 125px;
		overflow: hidden;
  img{
    @include center_transform();
    min-width: 100.2%;
    min-height: 100.2%;
    max-width: 200%;
    max-height: 200%;
  }
}






/*
================================================================================
|                                PAGE CONTACTS                                 |
================================================================================
*/
.page-contacts{
  .content{
		  background: #f1f1f1;
		}
		.section-promo{
    padding-bottom: 320px;
    .content-bg__darkblue{ top: 0; }
  }
		.btn-hotels{ z-index: 35; }
		.form-questions{
		  margin: -120px auto 0;
				width: 743px;
		 .btn{ margin-top: 19px; }
		}
		.questions-field{
		  &:nth-child(1){ width: 341px; margin-right: 12px; }
		  &:nth-child(2){ width: 329px; margin-right: 0px; }
		  &:nth-child(3){ width: 491px; margin: 19px 11px 0 0; }
		}
		.section-infoblock {
    padding-bottom: 14px;
    margin-top: -273px;
  }
}
.infoblock-contacts__hotel{
  .section-infoblock__text{
		  max-width: 740px;
				text-align: left;
				@include font(14px,1.43,400,normal);
				padding: 40px 0 7px;
		}
}
#contactsmap{
  position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
}





/*
================================================================================
|                            PAGE MEETINGS - DETAILS                           |
================================================================================
*/
.infoblock-meetings__detail{
  margin-top: -270px;
		padding-bottom: 0;
  .section-infoblock__text{
		  max-width: 743px;
				padding-top: 40px;
				padding-bottom: 40px;
		}
}
.section-seats{
  background: #fff;
		margin: 50px 0 20px;
		position:relative;
}
.seats-table{
  display: block; 
}
.mCustomScrollbar, .seats-table  {

  -webkit-overflow-scrolling: auto;
}
.seats-table__row{
  font-size: 0;
  display: block;
		position:relative;
		color: #22273c;
		width: 1230px;
		&:after{
		  @include before();
				left:23px; right: 23px;
				bottom: -1px;
				height: 2px;
				background: #f4f4f4;
		}
		&:nth-child(1){
		  background: #22273c;
		  color: #fff;
		  &:after{ display: none; }
				.seats-table__cell{
				  height: 105px;
						padding-top: 69px;
						padding-bottom: 0;
						vertical-align: top;
						&:nth-child(1){ 
						  padding-top: 0; 
								vertical-align: middle;
		      p{ padding-top: 0px; }
						}
				}
		}
}
.seats-table__cell{
  display: table-cell;
		position: relative;
		@include font(13px,1.54,400,0.3px);
		text-align: center;
		vertical-align: middle;
		padding: 28px 0 36px;
		width: 130px;
		&:nth-child(1){ 
		  width: 265px; padding-left: 23px; text-align: left; 
		  p{ padding-top: 3px; margin-bottom: -2px; }
		}
		&:nth-child(8){ width: 185px; padding-right: 55px; }
		.rub{ font-size: 12px; font-weight: normal; }
		i{
		  position: absolute;
				color: #4c5269;
		}
}
.separator{
  width: 2px;
		background: #4c5269;
		top: 23px;
		bottom: 23px;
		left: 217px;
}
.hidden-row{ display: none; }
.seats-buttons{
  padding: 30px 23px 20px 8px;
		&:after{ @include clearafter(); }
		.btn-book{ float: right; }
		.button-back{
		  float: right;
				padding-right: 45px;
				margin-right: 35px;
				font-weight: 400;
				text-decoration: underline;
				color: #31479d;
				&:after{
						@include icon();
						@include before();
						content: "\e902";
						text-decoration: none;
						right: 12px;
      top: 15px;
      font-size: 14px;
						opacity: 0.8;
				}
				&:hover{
				  font-weight: bold;
						color: #2c3e86;
						&:after{ opacity: 1; }
				}
		}
		.button-see-more{
		  float: left;
				position: relative;
				color: #31479d;
				padding-right: 35px;
				&:after{
						@include icon();
						@include before();
						content: "\e903";
						text-decoration: none;
						right: 10px;
      top: 15px;
      font-size: 13px;
						opacity: 0.8;
				}
				&:hover{
				  font-weight: bold;
						color: #2c3e86;
						&:after{ opacity: 1; }
				}
		}
}

.icon-seats__1{
  position: absolute;
		top: 21px;
		width: 100%;
		text-align: center;
  &:before{
		  @include before();
				@include icon();
				@include font(40px,1,400,normal);
				color:  #4c5269;
				position: relative;
				margin-left: 1px;
				content: "\e910";
		}
}
.icon-seats__2{
  position: absolute;
		top: 21px;
		width: 100%;
		text-align: center;
  &:before{
		  @include before();
				@include icon();
				@include font(40px,1,400,normal);
				color:  #4c5269;
				position: relative;
				margin-left: 1px;
				content: "\e911";
		}
}
.icon-seats__3{
  position: absolute;
		top: 21px;
		width: 100%;
		text-align: center;
  &:before{
		  @include before();
				@include icon();
				@include font(40px,1,400,normal);
				color:  #4c5269;
				position: relative;
				margin-left: -1px;
				content: "\e912";
		}
}
.icon-seats__4{
  position: absolute;
		top: 21px;
		width: 100%;
		text-align: center;
  &:before{
		  @include before();
				@include icon();
				@include font(40px,1,400,normal);
				color:  #4c5269;
				position: relative;
				margin-top: 2px;
				margin-left: -7px;
				content: "\e913";
		}
}
.icon-time{
  position: absolute;
		top: 31px;
		left: 0;
		width: 130px;
		text-align: center;
  &:before{
		  @include before();
				@include icon();
				@include font(27px,1,400,normal);
				color:  #4c5269;
				position: relative;
				content: "\e914";
		}
}
.map-contacts__info .icon.icon-address{
  width: 25px;
		height: 30px;
  margin: -19px 0 0 -2px;
  &:before{
		  @include before();
				@include icon();
				color: #4c5269;
		  content: "\e900";
		  font-size: 24px;
				line-height: 29px;
		}
}
.map-contacts__info .icon.icon-email{
  width: 25px;
		height: 30px;
  margin: -10px 0 0 0px;
  &:before{
		  @include before();
				@include icon();
				color: #4c5269;
		  content: "\e90f";
		  font-size: 20px;
		}
}




@media screen and (max-width: 1229px) {
.scroll-to-top{
  left: auto;
		right: 22px;
		margin-left: 0;
		bottom: 75px;
}
}

@media screen and (min-width: 560px){
	.slider-gallery .slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
    width: 98%;
    margin: 0 auto;
  }

}

.ellip-line {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}
.ellip, .ellip-line {
    position: relative;
    overflow: hidden;
    max-width: 100%;
}

.section404{
  position: relative;
		height: 905px;
}
.page-404 {
  .slider-info {
    margin-top: -257px;
  }
  .section-instagram {
    padding: 85px 0 95px;
  }
		.btn-hotels {
    margin: 4px 0 0 21px;
  }
}
.heading404{}
.heading404{
  max-width: 570px;
  width: 100%;
  margin: 0 auto;
		color: #22273c;
		position: relative;
		text-align: center;
		padding-top: 188px;
  padding-left: 35px;
		span{
		  font-size: 255px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
				@include rotate(90deg);
				font-family: $custom-font;
				display: table;
				margin: 0 auto;
				width: 300px;
				height: 300px;
		}
}
.backgroundcliptext  .heading404 span{
		background: url(../img/heading.jpg?ver1.2) top repeat; 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text404{
  text-align: center;
		position: relative;
		margin-top: -46px;
  padding-left: 4px;
  p{
		  @include font(14px,1.43,400,0.05px);
		}
}

