
/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
footer{
  width:100%;
  min-width: $min-width;
  height: 130px;
  background: #22273c;
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 99;
		a{ color: #fff; }
}
.footer-nav{
  float: left;
  padding: 22px 0 20px;
  font-size: 0px;
}
.footer-nav__item{
  display: inline-block;
  margin-right: 35px;
  vertical-align: top;
		&:last-child{ margin: 0; }
		a{
    @include font(13px,1,400,normal); //  0.7px;
    display: inline-block;
    padding-bottom: 1px;
    border-bottom: 1px solid transparent;
    opacity: 1;
    &:hover{ border-color: #fff; opacity: 0.85; }
  }
}
.footer-phone{
  float: left;
  margin: 17px 0 0 98px;
}
.footer-phone__link{
  position: relative;
  padding: 0 0 0 35px;
  font-family: $roman-font;
  @include font(19px,24px,400,0.25px); 
  .icon{
    width: 30px;
    height: 30px;
    left: 3px;
    top: 2px;
				color: #4c5269;
  }
  span{ opacity: 1; @include trans(opacity 0.2s linear); }
  &:hover{
    span{ opacity: 0.8; }
  }
}
.footer-buttons{
  clear: both;
  float: left;
  .btn{ 
    float: left;
				display: block;
    margin-right: 28px; 
  }
}
.copyright{
  float: right;
  position: relative;
  padding-top: 34px;
  padding-left: 17px;
  @include font(10px,1.1,400,normal); //0.7px;
		color: rgba(255,255,255,.5);
		display: table;
  width: calc(100% - 465px);
		p{ display: table-cell; 
		&:nth-child(2){ 
      padding-bottom: 4px;
		  text-align: right;
				a{ display: inline-block; padding-bottom: 1px; border-bottom: 1px solid transparent;
				 &:hover{ border-bottom: 1px solid #fff; }
					}
				}
		}
}
.icon-arrow-right{
  color: rgba(255,255,255,.75);
		@include icon();
  @include font(18px,1,400,normal);
		width: 18px;
		height: 14px;
		margin: 0 5px 0 11px;
		position: relative;
  &:before{ 
		  @include before(); 
				left: 0; 
				top: -2px;
				content: "\e906";
		}
}

@media screen and (max-width: 1200px) {
	
}

@media screen and (max-width: 991px){
.footer-buttons {
  float: left; 
		clear: none;
}
.footer-phone {
  float: right;
  margin: 0px 0 0 15px;
		clear: both;
}
.copyright{
		text-align: right;
		padding-top: 10px;
}

}

@media screen and (max-width: 790px) {
footer{
  position: relative;
		height: auto;
}
.footer-nav{
  padding: 13px 0 0 0;
		text-align: left;
		float: none;
		margin: 0 auto;
		width: 480px;
}
.footer-nav__item{
  margin: 0;
		width: 160px;
		height: 43px;
		text-align: left;
		a {
		  display: block;
				border: none;
				height: 43px;
				padding: 15px 10px 16px;
		}
}
.footer-phone{
  float: none;
  margin: 20px auto 0;
  display: table;
		padding-right: 30px;
}
.footer-buttons{
  float: none;
		display: table;
		margin: 20px auto 0;
		&:after{ @include clearafter(); }
		.btn-blue{ margin-right: 0; }
}
.copyright{
  text-align: center;
		width: 100%;
		padding: 20px 0 25px;
}
footer .wrapper {
  padding: 0 15px;
}
}


@media screen and (max-width: 666px) {
 
}


@media screen and (max-width: 480px) {
footer .wrapper {
  padding: 0px;
}
.footer-nav{
  width: 320px;
}
.footer-buttons{
  float: none;
		display: table;
		width: 300px;
		margin: 12px auto 0;
		&:after{ @include clearafter(); }
		.btn{ margin: 20px 0 0 0; width: 100%; text-align: center; }
}
}