
/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header{
  width: 100%;
  min-width: $min-width;
  height: 75px;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
		z-index: 100;
  .wrapper{
    padding: 13px 25px 0 10px;
				max-width: 1440px;
  }
}
.logo{
  display: block;
  float: left;
  background: url(../img/logo.png?ver1.2) center no-repeat;
  background-size: contain;
  width: 94px;
  height: 50px;
		&:hover{ opacity: 0.8; }
}
.header-nav{
  float: left;
  position: relative;
  font-size: 0;
		margin-left: 11px;
}
.header-nav__item{
  display: inline-block;
		position: relative;
  &.active{
    > a{
      position: relative;
						&:hover{ color: #434549; }
      &:after{
        content: '';
        display: block;
        position: absolute;
        bottom: 12px;
        left: 12px;
								right: 16px;
        background-color: #af9a33;
        height: 5px; 
      }
    }
				.header-subnav { top: 37px; }
  }
		a{
    display: block;
    padding: 19px 19px 19px 15px;
    @include font(13px,1,400,normal);
    color: #434549;
				z-index: 30;
				position: relative;
				&:hover{ color: #af9a33;}
  }
		&:hover{
		  .header-subnav{ 
				  max-height: 150px; 
		    overflow: visible;
						&:before{ opacity: 1; } 
				}
		}
}
.header-subnav{
  position: absolute;
  min-width: 100%;
  top: 35px;
  background: #fff;
		max-height: 0px;
		overflow: hidden;
		@include trans(max-height .5s);
  &:before{
    @include before();
    left: 0; right: 0; bottom: 0; top: -35px;
    @include shadow(0 25px 25px 0 rgba(0, 0, 0, 0.16));
				opacity: 0;
				@include trans(opacity .2s);
  }
}
.header-subnav__item{
  display: block;
  position: relative;
		border-top: 2px solid #fff;
		&:first-child{ margin-top: 0; }
  a{
    padding: 10px 20px 10px 35px;
    background: #fff;
    z-index: 35;
    &:hover{
      background: #af9a33;
      color: #fff;
    }
    &:before{
      @include before();
      width: 3px; height: 3px;
      left: 15px; top: 15px;
      @include radius(50%);
						background: #434549;
    }
				&:hover:before{
						background: #fff;
    }
  }
}
.btn-header{ 
  float: right; 
		margin-top: 4px;
		&.btn{  height: 43px; }
}
.header-phone__link{
  position: relative;
  float: right;
		margin: 17px 33px 0 0;
  padding: 0 0 0 31px;
  font-family: $roman-font;
  @include font(19px,24px,400,0.55px); 
		color: #22273c;
  .icon{
    width: 30px;
    height: 30px;
				left: -5px;
    top: 1px;
  }
  span{ @include trans(opacity 0.2s linear); }
  &:hover{
     opacity: 0.8;
  }
}
.header-lang{
  float: right;
  width: 59px;
  margin: 12px 30px 0 0;
  padding-right: 27px;
  position: relative;
  &:after{
    @include icon();
    @include before();
    color: #22273c;
    @include font(11px,1,400,normal);
    z-index: 4;
				content: "\e903";
				top: 11px; right: 13px;
  }
		&:hover{
		  .lang-select{ 
				  max-height: 150px; 
		    overflow: visible;
						&:before{ opacity: 1; } 
				}
		}
}
.lang-select{
  position: absolute;
  min-width: 100%;
  top: 0;
		max-height: 0px;
		overflow: hidden;
		@include trans(max-height .5s);
  &:before{
    @include before();
    left: 0; right: 0; bottom: 0; top: 0px;
    @include shadow(0 25px 25px 0 rgba(0, 0, 0, 0.16));
    opacity: 0;
    @include trans(opacity .5s);
  }
}
.lang-select__item a,
.lang-current span{ 
		  padding: 5px 7px;
    height: 33px;
    display: block;
    font-family: $roman-font;
    @include font(14px,18px,400,normal);
    color: #434549;
}
.lang-select__item a{
  background: #fff;
		position: relative;
		&:hover{
    color: #af9a33;
  }
}
@media screen and (min-width: 1276px) {
.header-nav{
  display: block !important;
}
}
@media screen and (max-width: 1275px) {
header{
  .wrapper{
    padding: 13px 15px 0 10px;
  }
}
.mobile-nav{
  float: right;
  width: 60px;
		height: 60px;
		cursor: pointer;
		display: block;
		margin:  -5px 0 0 15px;
		position: relative;
		&:before{
		  @include before();
		  background: #22273c;
				width: 24px;
				height: 2px;
				left: 17px;
				top: 26px;
		}
		&:after{
		  @include before();
		  background: #22273c;
				width: 19px;
				height: 2px;
				left: 17px;
				top: 34px;
		}
		&.active:before{
	   @include before();
				@include icon();
				width: 60px;
		  height: 60px;
				background: #fff;
				left: 0;
				top: 0px;
				content: "\e90a";
				@include font(18px,60px,400,normal);
				text-align: center;
				color: #22273c;
				cursor: pointer;
		}
  &.active:after{ display: none; }
}
.header-lang{
  margin-right: 15px;
}
.header-nav{
  display: none;
		position: absolute;
		right: 15px;
		top: 75px;
		margin: 0;
		width: 255px;
		padding-bottom: 15px;
		background: #fff;
		@include shadow(0 25px 25px 0 rgba(0, 0, 0, 0.16));
}
.header-nav__item{
  display: block;
  a{
    padding: 13px 25px;
  }
		&.active a:after {
    bottom: 0px;
  }
}
.header-subnav__item{
  a{ background: #f1f1f1; }
  a:before{
    display: none;
  }
}
.header-nav__item:hover .header-subnav {
  position: relative;
  top: 0;
 }
.header-subnav:before{ display: none; }	
}

@media screen and (max-width: 666px){
header{
  height: 60px; 
		.wrapper{
		  padding: 0;
		}
}
.header-lang{
  // display: none;
}
.btn-header.btn{
  display: none;
}
.header-phone{
  text-align: center;
		padding-top: 26px;
}
.header-phone .header-phone__link{
		float: none;
		margin: 0 0 0 5px;
		padding: 18px 0 0 0;
		font-size: 15px;
		.icon{ 
	  	width: 18px; height: 18px;
		  top: 0; left: 50%;
  		margin-left: -7px;
				font-size: 13px;
		}
}
.mobile-nav{
  margin-top: 0;
}
.logo {
  width: 80px;
  height: 50px;
  margin-top: 5px;
  margin-left: 9px;
}
.header-nav {
  right: 0px;
  top: 60px;
  width: 100%;
		border-top: 2px solid #f1f1f1;
  position: fixed;
  height: calc(100% - 60px);
  overflow-y: auto;
		> ul{ padding-bottom: 20px; }
}
.header-nav__item a{
  font-size: 15px;
}
}

@media screen and (max-width: 480px) {
  .header-lang{
    margin-right: 0;
    padding-right: 0;
    width: 50px;
  }
  .mobile-nav{
    margin: -5px 0 0 0;
  }
	.header-lang:after{
    right: 5px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	
}

@media screen and (max-width: 767px) {
	
}
