@media screen and (min-width: 1280px) {
	.all-photos {
		left: calc(50% - 4px);
		width: auto
	}
}
@media screen and (min-width: 769px) {
	.info-main__description {
		max-height: 57px;
		overflow: hidden;
	}
	.section-info__restaurant .info-main__description {
		max-height: 80px;
	}
}
@media screen and (max-width: 1420px) {
  .header-nav__item a {
    padding: 19px 13px 19px 13px;
  }
		.header-lang {
    margin: 12px 20px 0 0;
  }
		.header-phone__link {
    margin: 17px 25px 0 0;
    padding: 0 0 0 25px;
  }
}
@media screen and (max-width: 1343px) {
  .header-nav__item a {
    padding: 19px 10px 19px 10px;
  }
  .header-nav {
    margin-left: 5px;
  }
  header .wrapper {
    padding: 13px 10px 0 10px;
  }
		.header-lang {
    margin: 12px 15px 0 0;
  }
		.header-phone__link {
    margin: 17px 18px 0 0;
    padding: 0 0 0 23px;
  }
}
@media screen and (max-width: 1300px) {
.questions-field:nth-child(3) {
  width: calc(100% - 629px);
}
}
@media screen and (max-width: 1279px) {
.header-phone__link {
    margin: 17px 20px 0 0;
}
.slider-info__item{ min-height: 500px; }
.info-illustrations__slider{
  position: absolute;
		right: 0;
}
.slider-location__item{ min-height: 500px; }
.section-location__inner .slider-location__item{ min-height: 500px; }
.location-item__illustration{
  position: absolute;
		left: 0;
}
.section-location__inner .location-item__info,
.location-item__info{ 
  width: 510px; 
		padding: 46px 30px 0 59px;
}
.location-item__nav{ 
  background: #fff;
		left: 0;
		width: 100%;
		padding-left: 45px;
}
.location-item__map {
  margin: 2px -30px 0 -59px;
}
.section-location__heading {
  width: auto;
  right: auto;
  left: 765px;
}
.section-location__inner .section-location__heading {
    top: 10px;
    width: 455px;
}
.all-photos{
  width: 240px;
		margin: -80px 0 0 0;
		left: auto;
		right: 0;
}
.form-booking {
  margin: -80px 240px 0 0;
		float: right;
}
.main-map + .form-booking {
  margin: -80px auto 0;
		float: none;
}
.section-promo{
  &:after{ @include clearafter(); }
}
.questions-field:nth-child(3) {
  width: calc(100% - 629px);
}
.page-rooms  .slider-info__item,
.page-room .slider-info__item,
.section-info__restaurant  .slider-info__item,
.section-info__meetings  .slider-info__item,
.section-info__aktions .slider-info__item {
  width: 100%;
  height: 540px;
		position: relative;
}
.page-room .slider-info__item{
  height: 610px;
}
.page-rooms .info-illustrations__slider,
.page-room .info-illustrations__slider,
.section-info__restaurant .info-illustrations__slider,
.section-info__meetings .info-illustrations__slider,
.section-info__aktions .info-illustrations__slider{
  top: 0; margin-top: 0;  height: 540px; overflow: hidden;
}
.page-room .info-illustrations__slider{
  top: 80px;
}
.page-rooms .slider-info__item:nth-child(2n),
.page-room .slider-info__item:nth-child(2n),
.section-info__restaurant .slider-info__item:nth-child(2n),
.section-info__meetings .slider-info__item:nth-child(2n) ,
.section-info__aktions .slider-info__item:nth-child(2n){
  .info-item__main {
    float: right;
    margin: 0 0 0 -55px;
		}
		.info-illustrations__slider {
    left: 0;
    right: auto;
  }
}
.page-rooms .slider-info__item{
  margin-bottom: 50px;
		padding-top: 90px;
}
.page-room .slider-info__item{
  margin-bottom: 50px;
		padding-top: 160px;
}
.slider-location__item:nth-child(odd){
  .location-item__main {
    float: right;
    margin: 0 0 0 -55px;
		}
		.location-item__illustration{
    left: 0;
    right: auto;
  }
}
.slider-location__item:nth-child(even){
  .location-item__main {
    float: left;
    margin: 0 0 0 0;
		}
		.location-item__illustration{
    right: 0;
    left: auto;
  }
}
.location-item__illustration{ overflow: hidden; }
.section-location__inner .slider-location__item {
  width: 100%;
  min-height: 540px;
  display: block;
  position: relative;
  verflow: hidden;
		&:after{ @include clearafter(); }
}
.section-location__inner .slider-location__item:nth-child(2n) .location-item__nav {
    left: 0px;
				padding-left: 25px;
}
.section-location__inner .location-item__info{
  margin-top: 70px; 
}
.js-slider .slider-location__item:nth-child(2n) .location-item__illustration{
  position: absolute;
		left: 0;
}
.section-info__restaurant .slider-info__reversed .slider-info__item .info-illustrations__slider, 
.slider-info__reversed .slider-info__item .info-illustrations__slider {
  margin-left: 0;
  margin-right: 0;
  float: none;
		position: absolute;
		left: 0;
}
.infoblock-menu + .section-info{
  overflow: hidden;
}
.infoblock-menu{
  padding-bottom: 53px;
}
.page-rooms .section-promo,
.page-room .section-promo {
    padding-bottom: 204px;
}
.page-room .slider-info__item .section-hotels__heading {
  position: absolute;
		top: -10px;
}
.section-room__col-1 {
  width: calc(100% - 245px);
		padding-right: 10px;
}
.section-room__col-2{
  width: 245px;
}
.room-about__col{ min-width: 180px; }

}

/* =========================================================================================================== */

@media screen and (max-width: 1275px) {

}

/* ============================================================================================================ */

@media screen and (max-width: 1125px){
 .wrapper{ padding: 0 15px; } 
	.slider-promo__pages{ display: none;}
	.form-booking {
    margin: -80px 240px 0 0;
    float: none;
				width: auto;
				display: block;
				padding: 33px 20px 30px;
 }
	.booking-field{
	  width:calc( (100% - 317px) / 2);
	}
	.form-questions {
	  padding: 33px 20px 30px;
 }
	.questions-field:nth-child(3) {
  width: calc(100% - 609px);
		margin-right: 20px;
 }
 .slider-promo__item {height: 455px;}
 .info-arrows__prev, .info-arrows__next{ width: 86px; }
	.info-item__heading span{ padding-left: 40px; }
	.slider-info{ margin: -2px -15px 0;}
	.section-hotels{ padding-bottom: 40px; }
 .section-benefits { padding-top: 18px; padding-bottom: 10px; }
	.section-instagram { padding: 0px 0 75px; }
	
	.page-aktions .form-booking,
	.page-basepage .form-booking,
	.page-meetings .form-booking,
	.page-restaurant .form-booking,
	.page-restaurant_details .form-booking,
	.page-rooms .form-booking,
	.page-room .form-booking,
	.page-services .form-booking { margin: -5px 0px 0 0; }
 .page-room .section-hotels { padding-bottom: 40px; }
 .page-room .section-info { padding-bottom: 0px; }
 .main-map{ padding-bottom: 80px; }
	.main-map__position{ height: auto; bottom: 80px; }
}

/* ============================================================================================================ */

@media screen and (max-width: 1045px) {
  .slider-location{ margin-top: 30px; }
		.section-location__heading{
    position: relative;
    top: auto;
    left: auto;
  }
		.section-location__inner .section-location__heading {
    position: relative;
    top: auto;
    left: auto;
				width: auto;
				margin-bottom: 25px;
  }
		.section-location { margin-top: -320px; }
}
@media screen and (max-width: 1024px) { 
	.slider-promo{
		height: 455px;
	}
	.slider-promo__aktions {
	  height: 240px;
	}
	.slider-gallery .slick-prev, 
	.slider-gallery .slick-next {  
		height: 45px;     
		bottom: -45px;     
		left: 50%;     
		right:auto; 
	} 
	.slider-gallery .slick-prev {  
		margin-left: -111px; 
	} 
	.slider-gallery .slick-next {  
		margin-left: 5px; 
	} 
	.pp-container {  
		padding: 55px 0; 
	} 
	.pp-close {  
		height: 45px; 
	}
}
@media screen and (max-width: 992px) { 
	.slider-promo{
		height: 455px;
	}
	.slider-promo__aktions {
	  height: 240px;
	}
	.pp-pos {  
		bottom: 0;     
		width: 100%;     
		z-index: 125;     
		position: fixed;     
		left: 0;     
		top: 0;     
		transform: translate(0,0);     
		-moz-transform: translate(0,0);     
		-webkit-transform: translate(0,0);     
		-ms-transform: translate(0,0);     
		-o-transform: translate(0,0); 
	} 
	.slider-gallery .slick-arrow {     
		width: 106px;     
		height: 53px;     
		color: #fff; 
	} 
	.pp-container {  
		padding: 45px 0; 
	} 
	.pp-close {     
		height: 33px;     
		top: 10px;   
	}
}
/* ============================================================================================================ */
@media screen and (max-width: 991px) {
.scroll-to-top{
  width: 60px;
		height: 60px;
		right: 15px;
}
h1 { font-size: 50px; }
h2 { font-size: 38px; }
.slider-info__item{ padding-top: 170px; }
.info-item__heading{ margin: -170px auto 0; }
.info-item__heading span{ padding-left: 0; }
.info-illustrations__slider{ float: none; width: 100%; height: 550px; top: 160px; left: 0; }
.info-item__main{ padding: 30px 20px 35px 40px; width: 430px; background: rgba(246,246,246,.8); }
.slider-info{ margin-top: 15px; }
.section-hotels{ padding-bottom: 0; }
.location-item__illustration {
  width: 100%;
  height: 550px;
		img{
    @include center_transform();
    min-width: 100%;
    min-height: 100%;
    max-width: 150%;
    max-height: 150%;
  }
}
.location-item__info{ width: 430px; background: rgba(246,246,246,.8); }
.location-item__nav{ background: rgba(255,255,255,.8); }
.page-rooms .slider-info__item,
.page-room .slider-info__item,
.section-info__restaurant .slider-info__item,
.section-info__meetings .slider-info__item ,
.section-info__aktions .slider-info__item {
  min-height: 540px; height: auto;
		&:after{ @include clearafter(); }
}
.section-info__aktions .slider-info__item {
	height: auto;
	min-height: 0;
}
.section-info__aktions .slider-info__item + .slider-info__item,  .section-info__restaurant .slider-info__item + .slider-info__item{
	margin-top: 60px
}
.section-location .slider-location__item + .slider-location__item  {
	margin-top: 25px
}
.js-slider .slider-location__item + .slider-location__item {
  margin-top: 0;
}
.page-rooms .slider-info__item:nth-child(2n),
.page-room .slider-info__item:nth-child(2n),
.section-info__restaurant .slider-info__item:nth-child(2n),
.section-info__meetings .slider-info__item:nth-child(2n) ,
.section-info__aktions .slider-info__item:nth-child(2n){
  .info-item__main {
    float: right;
    margin: 0 0 0 -55px;
		}
		.info-illustrations__slider {
    left: 0;
    right: auto;
  }
}
.page-rooms .slider-info__item,
.page-room .slider-info__item,
.section-info__restaurant .slider-info__item,
.section-info__meetings .slider-info__item ,
.section-info__aktions .slider-info__item {
  width: 100%;
  height: 540px;
		position: relative;
}
.page-rooms .info-item__main,
.page-room .info-item__main,
.section-info__restaurant .info-item__main,
.section-info__meetings .info-item__main ,
.section-info__aktions .info-item__main{
  padding: 30px 20px 35px 40px;
}
.page-restaurant .section-form{ padding-top: 0; }
.section-room__inf {
  padding: 27px 40px 52px 40px;
}
.section-room__inf .room-about{ margin-top: 25px; }
.section-room-total { padding: 30px 40px; }
.section-location__inner .section-location__heading {
  text-align: center; 
  width: 100%; 
}
.section404{
  height: 705px;
}
.heading404{
  padding-top: 80px;
  padding-left: 0;
}
.text404{ padding-left: 0; }
}

/* ============================================================================================================ */

@media screen and (max-width: 960px) {
  .section-services{
    margin: 0 auto -190px;
		  max-width: 700px;
		  .slick-prev{ left: 0; right: auto; }
  }
		.services-list .slider-services__item {
    width: calc(50% - 9px);
    margin: 0 4px 9px 5px;
  }
  .section-services__heading{ margin: 0 auto 18px; }
		.benefits{ width: 100%; text-align: center; }
		.benefits-item{ text-align: left; }
		.benefits-item:nth-child(3n){ margin-right: 78px; }
		.section-benefits__heading { height: 55px; }
		.page-services .section-services {
    margin: -238px auto 0px;
    padding-bottom: 40px;
  }
.slider-promo .slick-arrow{ display: none !important; }
.all-photos {
    width: 240px;
    margin: 0;
    left: auto;
    right: 0;
    top: 0;
    height: 45px;
    padding-top: 15px;
				&:after { top: 12px; }

}


}

/* ============================================================================================================ */

@media screen and (max-width: 945px){
  .slider-promo{ margin: 0 -15px; }
  .slider-promo{
		height: 355px;
	}
  .slider-promo__item{ height: 355px; }
		.form-booking{
    margin: -115px 0 0 0;
    padding: 25px 20px 30px;
  }
		.btn-hotels{ margin-left: 0; }
		 .page-contacts .form-questions,
			.form-questions {
	    padding: 33px 20px 30px;
					width: 100%;
    }
			.page-contacts .questions-field:nth-child(1),
			.questions-field {
				width: calc(50% - 10px);
				margin-right: 20px;
		 }
			.page-contacts .questions-field:nth-child(2) {
				width: calc(50% - 10px);
				margin-right: 0px;
		 }
			.questions-field:nth-child(2) {
				margin-right: 0px;
		 }
			.page-contacts .questions-field:nth-child(3),
			.questions-field:nth-child(3) {
				width: calc(100% - 200px);
				margin-right: 20px;
				margin-top: 15px;
		 }
			.page-contacts .form-questions .btn,
			.form-questions .btn{
			  margin-top: 15px;
					width: 180px;
			}
  .map-contacts{
	  left:0;
			top: 52px;
 	}
  .page-meetings .section-form {
    padding: 0px 0 60px;
		}

}

/* ============================================================================================================ */

@media screen and (max-width: 790px) {
.main-wrapper:after {
  display: none;
}
.wrapper { padding: 0 10px; }
.slider-promo{ margin: 0 -10px; }
.slider-info{ margin: 15px -10px 0;}

			.section-promo{ margin-left: -10px; margin-right: -10px;}

}

/* ============================================================================================================ */
@media screen and (min-width: 769px) {
  	.page-rooms .slider-info__item, .page-room .slider-info__item, .section-info__restaurant .slider-info__item,
	 .section-info__meetings .slider-info__item, .section-info__meetings .slider-info__item, .section-info__aktions .slider-info__item, .section-location .slider-location__item {
	 	&:before {
			  display: none;
	 	}
	 }
}
@media screen and (max-width: 768px) {
	.page-rooms .slider-info__item, .page-room .slider-info__item, .section-info__restaurant .slider-info__item,
	 .section-info__meetings .slider-info__item, .section-info__meetings .slider-info__item, .section-info__aktions .slider-info__item, .section-location .slider-location__item {
	 	&:before {
	 		content: '';
		    position: absolute;
		    width: 35%;
		    height: 2px;
		    background-color: #22273c;
		    top: -33px;
		    left: 50%;
		    -webkit-transform: translateX(-50%);
		    transform: translateX(-50%);
	 	}
	 }
 .slider-info__item{ padding-top: 300px; }
 .info-item__heading{ position: absolute; margin: -305px 0 0 0; width: 100%; text-align: center; }
 .info-illustrations__slider{ float: none; width: 100%; top: 155px; left: 0; }
 .info-illustrations__item{ height: 240px; }
 .info-item__main{ padding: 35px 15px 35px 10px; width: 100%; min-height: 0; background: rgba(246,246,246,1);}
 .info-item__arrows{ bottom: auto; top: -310px; width: 100%; }
 .info-arrows__prev, .info-arrows__next {  width: 50%; height: 73px; }
 .info-arrows__next:before {
    left: auto;
    right: 20px;
				margin-left: 0;
  }
 .info-arrows__prev:before {
    left: 20px;
				margin-left: 0;
  }
		.info-illustrations__item img {
    max-width: 250%;
    max-height: 250%;
    height: auto;
    width: 100%;
  }
 .slider-location {  margin: 30px -10px; }
 .location-item__illustration{
	  width: 100%;
			height: 235px;
			overflow: hidden;
			img {
    max-width: 250%;
    max-height: 250%;
    height: auto;
    width: 100%;
   }
	}
	.section-location{ padding-bottom: 0; }
 .location-item__info {
    padding: 35px 10px 0px 10px;
				background: rgba(246,246,246,1);
				width: 100%;
    margin-top: 235px;
 }
 .location-item__map {margin:17px -10px 0;}
	.section-location__inner .slider-location__item:nth-child(2n) .location-item__map {margin:17px -10px 0;}
	.location-item__nav{ padding-left: 0; background: rgba(246,246,246,.8);  }
	.location-item__arrows {
    position: absolute;
    right: 12px;
    top: 0;
 }
	
	.page-rooms .section-info,
	.page-room .section-info,
	.section-info__restaurant,
	.section-info__meetings,
	.section-info__aktions{
	  margin-left: -10px;
			margin-right: -10px;
	}
	.page-rooms .slider-info__item,
	.page-room .slider-info__item,
	.section-info__restaurant .slider-info__item,
	.section-info__meetings .slider-info__item,
 .section-info__aktions .slider-info__item{
	  height: auto; padding-top: 235px;
	  min-height: 0
	}
	.page-room .slider-info__item{
	  padding-top: 305px;
	}

	.page-rooms .info-item__main,
	.section-info__restaurant .info-item__main,
	.section-info__meetings .info-item__main,
	.section-info__aktions .info-item__main{
	  padding: 53px 15px 35px 10px;
	}
	.page-room .info-item__main{
    padding: 53px 20px 35px 20px;
 }

	.page-rooms .info-main__text,
	.page-room .info-main__text,
	.section-info__restaurant .info-main__text,
	.section-info__meetings .info-main__text,
	.section-info__aktions .info-main__text{
	  height: auto; min-height: 0; 
	}
	
	.section-infoblock{ margin-left: -10px; margin-right: -10px; }
	.infoblock-meetings .section-infoblock__item { padding: 46px 25px 40px; }
	.infoblock-restaurant .section-infoblock__item{ padding: 46px 25px 40px; }
 .section-infoblock__item { padding: 46px 25px 40px; }
	.base-gallery__item {
    height: 350px;
 }
	.base-gallery__item .gallery-item__position,
	.base-gallery__item.slick-current .gallery-item__position {
    position: relative;
    overflow: hidden;
    height: 350px;
    left: 0;
    right: 0;
    top: 0;
 }
 .base-gallery__item img{ position: relative; }
	.section-location__inner { margin-left: -10px; margin-right: -10px; }
 .section-location__inner .location-item__info {
    margin-top: 235px;
    width: 100%;
  }
	.section-info__restaurant .slider-info__reversed .slider-info__item, 
	.slider-info__reversed .slider-info__item {
    padding: 235px 10px 0 10px;
 }
	.page-restaurant_details .section-form {
    padding: 0px 0 60px;
 }
	.page-rooms .section-form{
    padding-top: 254px;
 }
	.page-room .section-form {
    padding-top: 0px;
 }
 .section-location__inner .slider-location__item .location-item__info{
	}
 .section-location__inner .location-item__info,
	.section-location__inner .slider-location__item:nth-child(2n) .location-item__info {
    padding: 23px 15px 0px 10px;
				background: rgba(246,246,246,1);
				width: 100%;
    margin-top: 235px;
 }
	.section-location__inner .slider-location__item {
    margin-bottom: 0px;
  }
	.page-rooms .slider-info__item,
	.page-room .slider-info__item{
	  margin-bottom: 60px;
	}
	.section-location__inner  .location-item__nav{ padding-left: 0; background: rgba(246,246,246,.8);  }
	.main-map {
    height: 550px;
 }
	 .infoblock-restaurant .section-infoblock__text{ padding-top: 0; }
		.infoblock-contacts__hotel .section-infoblock__text{ padding-top: 0; }
		.infoblock-meetings__detail .section-infoblock__text{ padding: 0; }
		.form-meetings{
		  width: 100%;
				max-width: 380px;
		}
		.meetings-field,
		.meetings-field:nth-child(3),
		.meetings-field:nth-child(4),
		.meetings-field:nth-child(5) { width: 100%; margin-top: 20px; margin-right: 0;}
		.meetings-field:nth-child(6) {
    width: calc(100% - 190px);
    margin-top: 20px; margin-right: 10px;
  }
		.form-meetings .form-heading {
    padding-bottom: 21px;
  }
		.form-meetings .btn{
		  margin-top: 20px;
		}
		.seats-table__cell {
    padding-top: 10px;
				padding-bottom: 15px;
  }
  .place-about{ margin-top: 15px; }
		.section-info__restaurant .info-main__text p { height: auto; }
		.page-room .slider-info__item .section-hotels__heading {
    width: 100%;
    text-align: center;
    max-width: none;
    padding: 0;
    margin: 0;
				top: 0px;
				font-size: 26px;
  }
		.page-room .info-illustrations__slider {  top: 60px; }
		.section-room {
    padding: 27px 0 0;
				margin-left: -10px;
				margin-right: -10px;
  }
  .section-room__col-1 {
    width: 100%;
    padding-right: 0px;
  }
		.section-room__inf {
    padding: 17px 40px 42px 40px;
  }
		.section-room__col-2 {
    width: 100%;
    margin-top: 20px;
  }
  .section-room__col-2 .room-price {
		  display: inline-table;
    margin-bottom: 0px;
				width: 245px;
				vertical-align: middle;
				margin-right: 30px;
  }
  .room-child{
		  display: inline-block;
				width: 245px;
				vertical-align: middle;
		}

  .slider-gallery__base{
		  overflow: initial;
   .slick-dots, .owl-dots{
		  text-align: center;
				button{ width: 10px; height: 10px;  }
				li { margin: 0 3px; }
		 }
		}

}
@media screen and (max-width: 769px) and (min-width: 575px){
  .slider-info__item{ padding-top: 400px; }
		.info-item__heading{ margin: -405px 0 0 0;  }
  .info-illustrations__slider{ float: none; width: 100%; top: 155px; left: 0; }
  .info-illustrations__item{ height: 350px; }
  .info-item__arrows{ top: -410px; }
  .location-item__info {
    margin-top: 335px;
  }
		.location-item__illustration {
    height: 350px;
  }

}

/* ============================================================================================================ */

@media screen and (max-width: 725px) {
  .section-benefits{ padding-bottom: 35px; padding-top: 0px; margin-top: -15px;}
		.benefits-item{ text-align: left; width: 100%; margin: 20px 5px 0 0;}
		.benefits-item:nth-child(3n){ margin: 20px 5px 0 0;}
		.benefits-item:nth-child(2n){ margin: 20px 5px 0 0;}
		.section-benefits__heading { height: 55px; font-size: 35px; }
  .icon-rooms {
    left: -58px;
    top: -5px;
		}
  .icon-food {
    left: -61px;
    top: -6px;
  }
		.icon-meetings {
    left: -55px;
		}
		.icon-activities {
    left: -60px;
		}
		.icon-health {
    left: -63px;
    top: 3px;
		}
}

/* ============================================================================================================ */

@media screen and (max-width: 705px) {
  .slider-promo__item{ height: 300px; }
		.form-booking{
		  width: 100%;
				max-width: 380px;
				padding: 34px 30px 23px 30px;
				margin: -53px auto 0;
				.btn{
				  float: none;
						margin-top: 18px;
						width: 100%;
				}
		}
		.booking-field,
		.booking-field:nth-child(3){
		  width: 100%;
				float: none;
				margin-top: 20px;
		}
		.booking-field:nth-child(3) .booking-field__input{
		  text-align: left;
		}
		.form-heading{
		  padding-bottom: 22px;
		}
		.page-contacts .form-questions,
		.form-questions{
		  width: 100%;
				max-width: 380px;
				padding: 34px 30px 23px 30px;
				margin: 0 auto;
				.btn{
				  float: none;
						margin-top: 18px;
						width: 100%;
				}
		}
		.page-contacts .form-questions{
		  margin: -55px auto 0;
		}
		.page-contacts .questions-field:nth-child(1),
		.page-contacts .questions-field:nth-child(2),
		.page-contacts .questions-field:nth-child(3),
		.questions-field,
		.questions-field:nth-child(3){
		  width: 100%;
				float: none;
				margin: 20px 0 0 0; 
		}
			
		.btn-hotels{
		  display: none;
		}
		.all-photos{
		  bottom: 20px;
				left: 50%; right: auto;
				margin: 0 0 0 -120px;
				height: 45px;
				padding: 14px 0 0 0;
				background: #4c5269;
				top: auto;
				&:after{ top: 12px; }
		}
		.section-promo {
    padding-bottom: 85px;
  }
		.section-hotels__item{
		  margin-top: 0;
		}
		.page-aktions .form-booking, 
		.page-basepage .form-booking, 
		.page-meetings .form-booking, 
		.page-restaurant .form-booking, 
		.page-restaurant_details .form-booking, 
		.page-rooms .form-booking, 
		.page-room .form-booking, 
		.page-services .form-booking {
    margin: -53px auto 0 auto;
  }
  .map-contacts {
    left: 0;
    top: 0px;
				width: 100%;
   }

   .slider-promo__text {
    padding: 0px 30px 30px 20px;
    height: 265px;
				h1{ text-align: left; display: block; }
   }
   .page-rooms .section-promo, .page-room .section-promo {
    padding-bottom: 40px;
   }
	  .main-map__position{ height: auto; bottom: 0px; }
	  .slider-promo{
		height: 300px;
	}
	.slider-promo__aktions {
	  height: 240px;
	}
	.section404{
  height: 705px;
  }
  .heading404{
    padding-top: 55px;
    padding-left: 0;
  }
}

/* ============================================================================================================ */

@media screen and (max-width: 690px) {
  .slick-dots, .owl-dots{
		  text-align: center;
				button, .owl-dot span{ width: 10px; height: 10px;  }
				li, .owl-dot{ margin: 0 3px; }
		}
		.slider-instagram{ 
		  .slick-dots, .owl-dots{ bottom: -29px; }
  }
  .slider-promo{
		height: 300px;
	}	.slider-promo__aktions {
	  height: 240px;
	}
}

/* ============================================================================================================ */

@media screen and (max-width: 666px) {
	.content{
	  padding-top: 60px;
	}
	.scroll-to-top{
		width: 44px;
		height: 44px;
		right: 10px;
		bottom: 15px;
	}
	.copyright {
		float: none;
		max-width: 437px;
		margin-left: auto;
		margin-right: auto;
		text-align: left
	}
}
@media screen and (max-width: 640px) {	
  .section-services{
    margin: 0 auto -12px;
		  max-width: 380px;
		  .slick-prev{ left: 0; right: auto; }
  }
		.slider-services { margin: 0 -10px; }
  .slider-services .slick-arrow { display: none !important; }
		.services-list .slider-services__item {
    width: calc(100% - 9px);
    margin: 0 4px 9px 5px;
    float: none;
  }
		.pagination-list{ float: none; margin: 0 auto; display: table;}
  h1, h2{ font-size: 35px; }
  .section-hotels__item{ padding: 40px 20px 30px; }
		.section-form {
    padding: 60px 0 105px;
   }
		.section-location{ margin-top: -65px;	}
  .page-aktions .section-form { padding: 250px 0 90px; }
  .infoblock-basepage .section-infoblock__item{ padding-bottom: 40px; }
		.infoblock-basepage .section-infoblock__text{ padding-top: 0; }
		.section-gallery{ margin: 0 -10px; padding: 0; }
		.page-room .section-hotels__item { padding: 30px 0 0; }

}
@media screen and (max-width: 575px) {
  .room-child {
    display: block;
    width: 240px;
				margin: 20px auto 0;
  }
		.section-room__inf {
    padding: 17px 15px 42px 15px;
  }
  .section-room__col-2 .room-price{
		  display: block; margin: 0 auto;
		}
	.section-room-total__date {
  float: none;
		text-align: center;
		margin-top: 0;
	}
	.section-room-total__price{
  	display: block;
  	margin: 10px 0 20px;
  	text-align: center;
	}
	.section-room-total__btn {
    float: none;
    display: table;
    margin: 0 auto;
 }
 .copyright, .copyright p {
 	display: block;
 	text-align: center;
 }
 .copyright p:nth-child(2) {
 	margin-top: 11px;
 	text-align: center;
 }
}
@media screen and (max-width: 560px) {
  .gallery-cell__large img,
		.gallery-cell__small img{
		  width: 100%;
				height: auto;
		}
		.gallery-column__large,
		.gallery-column__small{
    width: auto;
		}
		.pp-pos .mCSB_inside > .mCSB_container {
    margin-right: 10px;
   }
  .gallery-cell__large,
		.gallery-cell__small{
		  max-height: 300px; overflow: hidden;
		}
		.pp-close{ width: 100%; &:after{ left: auto; margin-left: 0; right: 20px; } }
		.slide-menu__item { padding: 35px 0px 0 0;  }
  .slide-menu__description{ max-width: none; }
		.slide-menu__price {
    position: relative;
    left: 0;
    top: 0px;
				padding-top: 5px;
   }
}
@media screen and (max-width: 500px) {
.main-map__position{ height: auto; bottom: 50px; }
.main-map + .form-booking {
  margin: -50px auto 0;
  width: 100%; max-width: 100%;
}
.section-hotels__item{
	padding-bottom: 60px;
}
.tripadvisor-grade{
	bottom: -100px;
	top: auto;
	left: auto;
	margin-left: 0;
}
.section-info {
	margin-top: 40px;
}
.page-restaurant .section-promo {
    padding-bottom: 40px;
}
.section-info__restaurant {
	margin-top: 10px;
	.slider-info__item:first-child {
		    margin-top: 30px;
	}
	.slider-info__item:first-child:before  {
		display: none;
	}
} 
}

@media screen and (max-width: 420px) {
.info-main__text { margin-top: 10px; }
.room-about { padding-top: 12px; }
.room-about__price { margin: 25px 0px 0 0; }
.room-about__people { margin: 17px 15px 0 0; }
.info-main-btn { margin-top: 27px; width: 100%; }
.section-info__meetings .info-main-btn.btn-darkblue{
 margin-top: 10px;
}
.section-benefits { padding-top: 0px; }
.meetings-field:nth-child(6) {
  width: 100%;
  margin-top: 20px;
  margin-right: 0px;
}
.form-meetings .btn {
  width: 100%;
}
.services-info__text{
  height: 64px;
}
.location-item__text{ height: 60px; }
.section-location__heading,
.section-location__inner .section-location__heading{ width: 100%; text-align: center; }
.section-location { margin-top: -65px; }
.section-form { padding: 60px 0 100px; }
.slider-location { margin: 25px -10px; }
.location-item__text { margin: 9px 0 3px 0; }
.location-item__more { margin: 12px 0 0 -13px; }
.location-item__map { margin: 17px -15px 0 -15px; }
.section-location-link { margin: 18px 0 0 1px; }
.location-arrows__prev, .location-arrows__next { height: 83px; }
}

@media screen and (max-width: 380px) {
.section-instagram{
  padding-top: 0; 
}
.slider-instagram{ 
  width: 100%;
  margin: 0 auto; 
		max-width: 232px;  
		.slick-arrow{ display: none !important; }
		.slick-dots, .owl-dots { bottom: -29px; }
}
.section-instagram__heading{
  margin: 0 auto 24px;
  padding: 0px;
}
.certificate-slide .slick-dots { bottom: -20px; }
.location-arrows__prev, .location-arrows__next {
  width: 86px;
}
.seats-buttons {
  padding: 30px 8px 20px 8px;
}
.seats-buttons .button-see-more{
  background: #f6f6f6;
  width: 100%;
  float: none;
  text-align: center;
		margin-bottom: 10px;
}
.seats-buttons .button-see-more:after {
  right: 0px;
  top: 0px;
  position: relative;
  display: inline-block;
  margin-left: 10px;
}
.seats-buttons .button-back {
  float: none;
  width: 100%;
  text-align: center;
  margin-right: 0px;
  font-weight: 400;
  text-decoration: underline;
  color: #31479d;
		background: #f6f6f6;
}
.seats-buttons .btn-book{
  float: none;
  width: 100%;
		margin-bottom: 10px;
}
.seats-buttons .button-back:after {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  right: 0;
  top: 3px;
}
.room-about__col{
  width: 100%;
}
.section-room-total {
  padding: 30px 10px;
}
.section-room-total__btn{
  display: block;
}
.section-room-total .btn {
  display: block;
		width: 100%;
}
	.main-map {
    height: 550px;
 }
	.backgroundcliptext .slider-services__item .services-item__shadow {
    top: 106px;
  }

}

@media screen and (max-width: 360px) { 
		.section-hotels__heading{
			margin: 13px 0 1px;
		    line-height: 40px;
		    span {
		    	display: block;
		    	margin: 0 -22px
		    }
		}
		.page-room .section-hotels__heading{
		  margin: 13px auto 6px;
		}
		.heading404 span {
    font-size: 205px;
    width: 250px;
    height: 250px;
  }
		.heading404 {
    padding-top: 15px;
  }
		.section404 {
    height: 605px;
  }
}
a[href^="http://maps.google.com/maps"]{display:none !important;}
a[href^="https://maps.google.com/maps"]{display:none !important;}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}

