@font-face {
  font-family: 'time_roman';
  src: url('../fonts/time_roman_normal.eot?ver1.2');
  src: url('../fonts/time_roman_normal.eot?#iefix') format('embedded-opentype'),
    url('../fonts/time_roman_normal.woff?ver1.2') format('woff'),
    url('../fonts/time_roman_normal.ttf?ver1.2') format('truetype'),
    url('../fonts/time_roman_normal.svg#time_romannormal') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'iconset';
  src:  url('../fonts/iconset.eot?ver1.2');
  src:  url('../fonts/iconset.eot#iefix') format('embedded-opentype'),
    url('../fonts/iconset.ttf?ver1.2') format('truetype'),
    url('../fonts/iconset.woff?ver1.2') format('woff'),
    url('../fonts/iconset.svg#iconset') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'benefits';
  src:  url('../fonts/benefits.eot?ver1.2');
  src:  url('../fonts/benefits.eot#iefix') format('embedded-opentype'),
    url('../fonts/benefits.ttf?ver1.2') format('truetype'),
    url('../fonts/benefits.woff?ver1.2') format('woff'),
    url('../fonts/benefits.svg#benefits') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'pt_roublesans';
    src: url('../fonts/rubsn.eot?ver1.2');
    src: url('../fonts/rubsn.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rubsn.woff?ver1.2') format('woff'),
         url('../fonts/rubsn.ttf?ver1.2') format('truetype'),
         url('../fonts/rubsn.svg#pt_roublesans') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'Roboto';
    src: url('../fonts/Roboto.eot?ver1.0');
    src: url('../fonts/Roboto.eot?#iefix?ver1.0') format('embedded-opentype'),
        url('../fonts/Roboto.woff?ver1.0') format('woff'),
        url('../fonts/Roboto.ttf?ver1.0') format('truetype'),
        url('../fonts/Roboto.svg#Roboto?ver1.0') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+000D-2044;
}

@font-face {
    font-family:'Roboto';
    src: url('../fonts/Roboto Medium.eot?ver1.0');
    src: url('../fonts/Roboto Medium.eot?#iefix?ver1.0') format('embedded-opentype'),
        url('../fonts/Roboto Medium.woff?ver1.0') format('woff'),
        url('../fonts/Roboto Medium.ttf?ver1.0') format('truetype'),
        url('../fonts/Roboto Medium.svg#Roboto-Medium?ver1.0') format('svg');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+000D-2044;
}

@font-face {
    font-family:'Roboto';
    src: url('../fonts/Roboto Bold.eot?ver1.0');
    src: url('../fonts/Roboto Bold.eot?#iefix?ver1.0') format('embedded-opentype'),
        url('../fonts/Roboto Bold.woff?ver1.0') format('woff'),
        url('../fonts/Roboto Bold.ttf?ver1.0') format('truetype'),
        url('../fonts/Roboto Bold.svg#Roboto-Bold?ver1.0') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+000D-2044;
}

